.lbllogin{
    margin-top: 1.5%;
    margin-left: 75%;
    font-size: 16px;
}
.tablebottom {
    margin-top: 1%;
    border-collapse: collapse;
    width: 60%;
    margin-left: 20%;
}
.tablebottom1 {
    margin-top: 1%;
    border-collapse: collapse;
    width: 90%;
    margin-left: 5%;
}
.tablebottomemer {
    margin-top: 1%;
    border-collapse: collapse;
    width: 62%;
    margin-left: 20%;
}
.pagination {
    margin-left: 72%;
}