.lbllogin{
    margin-top: 1.5%;
    margin-left: 75%;
    font-size: 16px;
}
.tablebottom {
    margin-top: 1%;
    border-collapse: collapse;
    width: 60%;
    margin-left: 20%;
}
.tablebottom1 {
    margin-top: 1%;
    border-collapse: collapse;
    width: 90%;
    margin-left: 9%;
}
.tablebottomemer {
    margin-top: 1%;
    border-collapse: collapse;
    width: 62%;
    margin-left: 20%;
}
.pagination {
    margin-left: 72%;
}
.main-container{
    margin-top:5%;

}
 /* LeftMenuBar adjustment */
.content-wrapper {
  margin-left: 100px;
  transition: margin-left 0.3s ease;
  padding: 20px;
}

.content-wrapper.sidebar-collapsed {
  margin-left: -60px;
}

.sidebar {
  width: 250px;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 60px;
}
