h1 {
    /* font-family: Times New Roman; */
    display: block;
    font-size: 2em;
    font-weight: bold;
    unicode-bidi: isolate;
    text-align: center;
    color: rgb(55, 103, 236);
   
}
label {
    display: inline-block;
    margin-left: 3%;
    font-weight: bold;
    color: black;
    margin-top: 7%;
}
.labelid-role{
    display: inline-block;
    margin-left: 13%;
    font-weight: bold;
    color: black;
    margin-top: 7%;
}

.form-control {
    display: block;
    width: 167%;
    margin-left: -70%;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-color: black;
    font-weight: 400;
    line-height: 0.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    /* border: var(--bs-border-width) solid var(--bs-border-color); */
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-color: black;
    margin-top: 6%;
}
.notify {
    width: 401px;
    margin-left: -3.2%;
    margin-top: 0%;
    background-color: rgb(36, 120, 156);
    color: white;
    height: 42px;
    text-align: center;
    border-radius: 4%;
    font-size: x-large;
}
.container {
    border-style: solid;
    border-color: inherit;
    border-width: 1px;
    margin-left: 1%;
    margin-top: 1%;
    width: 403px;
    border-radius: 5px;
    height: 264px;
}
#newsTicker {
    height: 217px;
    overflow: hidden;
    position: relative;
}
.newsinfo {
    width: 465px;
    height: 237px;
    left: 0px;
    top: 0px;
}
#newsTicker .newsList {
    list-style: none;
    position: absolute;
    top: 40%;
    animation: scrollTicker 15s linear infinite;
}
#newsTicker ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#newsTicker ul li {
    margin-bottom: 25px;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
@keyframes scrollTicker {
0% {
    transform: translateY(0);
}
100% {
    transform: translateY(-100%);
}
}
.container-main {
    border-style: solid;
    border-color: inherit;
    border-width: 1px;
    margin-top: 1%;
    width: 793px;
    border-radius: 5px;
    height: 264px;
    margin-right: 23.5%;
}
.main {
    width: 792px;
    margin-left: -1.1%;
    margin-top: 0%;
    color: white;
    height: 42px;
    text-align: center;
    border-radius: 1%;
    background-color: rgb(36, 120, 156);
    font-size: 30px;
    line-height: 38px;
}
.labeldrp1 {
    display: inline-block;
    margin-left: 21%;
    margin-top: 1px;
    /* font-weight: bold;
    color: black; */
}
/* .drpdwn1 {
    cursor: pointer;
    margin-top: -3.5%;
    margin-left: 30%;
    border-color: black;
    background-color: rgb(213, 225, 240);
    color: black;
    width: 179px;
    border-radius: 5px;
    border: 1px solid black;
    height: 39px;
} */
.drpdwn1 {
    cursor: pointer;
    margin-top: -1.9%;
    margin-left: 18.2%;
    border-color: black;
    /* background-color: rgb(213, 225, 240); */
    color: black;
    width: 191px;
    border-radius: 5px;
    border: 1px solid black;
    height: 39px;
    position: absolute;
    text-align: center;
    font-size: 16px;
}
.labeldrp2 {
    display: inline-block;
    margin-left: 21%;
    font-weight: bold;
    color: black;
    margin-top: 4%;

}
.drpdwn2{
    cursor: pointer;
    margin-top: -2%;
    margin-left: 18.2%;
    border-color: black;
    color: black;
    width: 191px;
    border-radius: 5px;
    border: 1px solid black;
    height: 39px;
    text-align: center;
    font-size: 16px;
    position: absolute;
}
.btndrp2{
    cursor: pointer;
    width: 178px;
}
.lblcal{
    display: inline-block;
    margin-left: 21%;
    font-weight: bold;
    color: black;
    margin-top: 0%;
}
.formcontrolcalendar {
    display: block;
    width: 54px;
    margin-left: 31%;
    font-size: 3rem;
    border-color: black;
    font-weight: 400;
    line-height: 0.5;
    color: var(--bs-body-color);
    line-height: 5;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-color: black;
    position: absolute;
    height: 53px;
    margin-top: -0.6%;

}
.labeltime1 {
    display: inline-block;
    margin-left: 12%;
    margin-top: 20px;
    font-size: medium;
}
.labeltime2 {
    display: inline-block;
    margin-left: 28%;
    margin-top: 12px;
    font-size: medium;
}
.time {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-left: 1%;
    height: 30px;
    width: 83px;
    border-radius: 5px;
    text-align: center;
    font-size: 17px;
}
.labeltime3 {
    display: inline-block;
    margin-left: 62.3%;
    font-weight: bold;
    color: rgb(240, 75, 75);
    margin-top: 1%;
}
.timeextra {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-left: 3.3%;
    height: 30px;
    width: 83px;
    border-radius: 5px;
    text-align: center;
    font-size: 17px;
}
.button {
        cursor: pointer;
        margin-top: 1%;
        margin-left: 37%;
       border-color: black;
       color: black;
       background-color: rgb(159, 196, 238);
       width: 191px;
       border-radius: 5px; 
       height: 35px;
}
.lbltwd {
    display: inline-block;
    margin-left: 1%;
    margin-top: 16px;
}
.inputtwd {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-left: 0.5%;
    border-radius: 5px;
    height: 35px;
    margin-top: 0.7%;
    position: absolute;
}
.drpmnth {
    margin-left: 28%;
    margin-top: -1.6%;
    border-color: black;
    color: black;
    width: 155px;
    border-radius: 5px;
    border: 1px solid black;
    height: 35px;
    position: absolute;
    font-size: 16px;
    text-align: center;
}
.btn-drp-mnth {
    width: 155px;
    height: 35px;
}
.drpyear {
    margin-left: 44%;
    margin-top: -1.6%;
    border-color: black;
    color: black;
    width: 155px;
    border-radius: 5px;
    border: 1px solid black;
    height: 35px;
    position: absolute;
    font-size: 16px;
    text-align: center;
}

.btn-drp-year {
    width: 155px;
    height: 35px;
}
.lbltlc {
    display: inline-block;
    margin-left: 61%;
    margin-top: -1.2%;
    position: absolute;
}
.inputtlc {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-left: 69%;
    border-radius: 5px;
    margin-top: -1.6%;
    position: absolute;
    height: 35px;
}
.container-calendar {
    border-style: solid;
    border-color: inherit;
    border-width: 1px;
    margin-left: 77%;
    margin-top: -16.6%;
    width: 350px;
    border-radius: 5px;
    height: 264px;
}
.calsize {
    width: 340px;
    height: 255px;
    font-size: 12px;
    margin-top: 1%;
    margin-left: -1%;

    .a {
        color: black;
        text-decoration: none;
    }
    /* .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
        min-height: 0.5em;
        position: relative;
    } */
    .fc-daygrid-day-events {
        min-height: 0.5em;
        position: relative;
    }
    .fc .fc-daygrid-day-events {
        margin-top: -4px;
    }
    .fc-day-today {
        background: yellow;
        }
}


.ngb-dp-header {
    border-bottom: 0;
    border-radius: .25rem .25rem 0 0;
    padding-top: .25rem;
    background-color: var(--bs-tertiary-bg);
}
.demo-inline-calendar-card {
    width: 300px;
}
.form-select {
    margin: 0.5rem 0.5rem 0 0;
    width: auto;
}
.buttonprnt {
    cursor: pointer;
    margin-top: -1.6%;
    margin-left: 85%;
    border-color: black;
    color: black;
    background-color: rgb(159, 196, 238);
    width: 181px;
    border-radius: 5px;
    position: absolute;
    height: 35px;
}
.container-bottom {
    border-style: solid;
    border-color: inherit;
    border-width: 1px;
    margin-top: 0%;
    width: 1563px;
    border-radius: 5px;
    height: 530px;
    margin-left: 1%;
    
}
.tablebottom {
    margin-top: 1.5%;
}
.pagination {
    margin-left: 72%;
}
.tasksbtn {
    margin-left: 2%;
    height: 30px;
    margin-top: -1%;
    background-color: rgb(188, 240, 240);
    width: 90px;
    text-align: center;
    font-size: large;
    border-radius: 5px;
    border-color:rgb(188, 240, 240); ;
}
.modal-title {
    font-size: medium;
}
.modal-form-control{
    display: block;
    width: 90%;
    margin-left: 3%;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    border-color: black;
    font-weight: 400;
    line-height: 1;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-color: black;
    /* position: absolute; */
    height: 200px;
}