<form class="row g-3">
    <app-sprtheader></app-sprtheader>
<div class="exam-container">
    <div *ngIf="isLoading" class="loading-container">
        <span class="dot"></span>
    </div>
    <!-- <div>
        <label class="lbllogin">Login as </label>
    </div> -->
    
    <!-- <a (click)="goBack()" class="back-link">Back</a> -->
     <div>
    <button class="btn btn-dark btnback" routerLink="/registration" (click)="goBack()">Back</button>
    </div>
    <div class="exam-header">
      <!-- <h2>Your Test: <strong>Cloud Computing</strong></h2> -->
      <!-- <h2 *ngFor="let item of Registeredusers">Your Test: <strong>{{item.skillName}}</strong></h2> -->
      <h2 *ngIf="selectedSkill">Your Test: <strong>{{ selectedSkill }}</strong></h2>
      <p>Time Left:  <strong>{{ formattedTime }}</strong></p>
    </div>
<!--   
    <div *ngIf="currentQuestion">
      <h3>{{ currentQuestionIndex + 1 }}. {{ currentQuestion.question }}</h3>
      
      <div class="options">
        <label class="options-label" *ngFor="let option of currentQuestion.options">
          <input 
            class="options-input"
            type="radio" 
            name="answer" 
            [value]="option" 
            [(ngModel)]="selectedAnswer">
          {{ option }}
        </label>
      </div>
    </div>
  
    <button (click)="nextQuestion()" [disabled]="!selectedAnswer" class="next-button">Next</button> -->


    <!-- <p *ngIf="examdata.displayExamQuestions > 0">Question {{ currentQuestionIndex + 1 }} of {{ examdata.displayExamQuestions }}</p> -->

<!-- 
<div *ngIf="examdata.displayExamQuestions > 0">
 
<h3>
    {{ currentQuestionIndex + 1 }}.
    <span *ngIf="questions[currentQuestionIndex]?.question">
      {{ questions[currentQuestionIndex].question }}
    </span>
  </h3>
  
 
  <img 
    *ngIf="questions[currentQuestionIndex]?.questionImage" 
    [src]="questions[currentQuestionIndex].questionImage" 
    alt="Question Image" 
    class="question-image"
  />
  
  

  
  <div class="options">
    <label class="options-label" *ngFor="let option of questions[currentQuestionIndex]?.options">
      <input  class="options-input" type="radio" name="answer" [value]="option.text" [(ngModel)]="selectedAnswer" />

   
      <span *ngIf="option.text">{{ option.text }}</span>

      
      <img *ngIf="option.image" [src]="option.image" alt="Option Image" class="option-image" />
    </label>
  </div>
</div> -->
<!-- 
<div *ngIf="questions.length > 0" >
    <div  class="question-section">
      <h3> <strong>{{ currentQuestion.question }}</strong></h3>
  
    
      <img *ngIf="currentQuestion.iQuestion" [src]="'data:image/jpeg;base64,' + currentQuestion.iQuestion" alt="Question Image" width="400" />
  
 
      <ul class="options-list">
        <li *ngFor="let option of ['a', 'b', 'c', 'd']">
          <label class="options-label" >
            <input
            class="options-input"
              type="radio"
              name="answer"
              [value]="currentQuestion[option]"
               [(ngModel)]="selectedAnswer"
            />
            <span *ngIf="!currentQuestion['i' + option]">
                {{ currentQuestion[option] }}
              </span>
  
            <img
            *ngIf="currentQuestion['i' + option]"
            [src]="'data:image/jpeg;base64,' + currentQuestion['i' + option]"
            alt="Option Image"
            width="300"
            height="180"
            />
          </label>
        </li>
      </ul>
    </div>
  
    
 
</div> -->
<div *ngIf="questions.length > 0">
    <div class="question-section">
      <h3 style="font-size: 18px;"><strong>{{ currentQuestion.question }}</strong></h3>
  
      <!-- Question Image -->
      <img *ngIf="currentQuestion.iQuestion" 
           [src]="'data:image/jpeg;base64,' + currentQuestion.iQuestion" 
           alt="Question Image" 
           width="400"
           height="300" />
  
      <!-- Options -->
      <ul class="options-list">
        <li *ngFor="let option of ['a', 'b', 'c', 'd']">
          <label class="options-label">
            <input
              class="options-input"
              type="radio"
              name="answer"
              [value]="option.toUpperCase()"
              [(ngModel)]="selectedAnswer"
            />
  
            <!-- Display text if no image -->
            <span *ngIf="!currentQuestion['i' + option]">
              {{ currentQuestion[option] }}
            </span>
  
            <!-- Display image if available -->
            <img *ngIf="currentQuestion['i' + option]"
                 [src]="'data:image/jpeg;base64,' + currentQuestion['i' + option]"
                 alt="Option Image"
                 width="200"
                 height="100" />
          </label>
        </li>
      </ul>
    </div>
  </div>
  


<!-- Loading or no questions -->
<!-- <div *ngIf="questions.length === 0" >
  <p >Loading questions</p>
</div> -->

<!-- Navigation Buttons -->
<!-- <button (click)="goBack()">Back</button>
<button (click)="nextQuestion()">Next</button> -->
<!-- <button (click)="nextQuestion()" [disabled]="!selectedAnswer" class="next-button">Next</button> -->
<!-- <button (click)="nextQuestion()" [disabled]="!selectedAnswer" class="next-button">{{ currentQuestionIndex === questions.length - 1 ? 'Submit' : 'Next' }}</button> -->
<!-- Show "Next" button until the last question -->
<button 
  *ngIf="currentQuestionIndex < questions.length - 1"
  (click)="nextQuestion()" 
  [disabled]="!selectedAnswer" 
  class="next-button">
  Next
</button>

<!-- Show "Submit" button only on the last question -->
<button 
  *ngIf="currentQuestionIndex === questions.length - 1"
  (click)="submitExam()" 
  [disabled]="!selectedAnswer" 
  class="next-button">
  Submit
</button>
  
    <p>Question {{ currentQuestionIndex + 1 }} of {{ examdata.displayExamQuestions }}</p>
  </div>

  </form>
  