<div *ngIf="hasPermission; else noAccess">
  <app-sprtheader></app-sprtheader>
      <img class="img" src="/assets/images/Inteq logo.png">
    <div>
        <button class="btn btn-dark btnback" routerLink="/registration">Back</button>
        <button type="button" class="btn buttonlogout btn-danger" (click)="logout()">Logout</button>
    </div>
  <form class="event-schedule-container"  #form="ngForm">

    <h1 class="h1">EVENT SCHEDULE PLANNER</h1>
    <div class="info-table">
    <div class="row">
      <div class="cell header">PROJECT/EVENT</div>
      <div class="cell value">{{event.projectInternalAudit}}</div>
      <div class="cell value">{{ event.projectQMS}}</div>
      <div class="cell value">{{ event.projectISMS }}</div>
      <div class="cell value height">{{ event.notes }}</div>
    </div>
    <div class="row">
      <div class="cell header">ORGANIZER</div>
      <div class="cell value">{{ event.organizerCompany}}</div>
      <div class="cell value">{{ event.organizerSchedule }}</div>
      <div class="cell value">{{event.organizerDateRange}}</div>
      <!-- <div class="cell value"></div> -->
    </div>
  </div>

    <div class="schedule-form">
      <div class="form-header">
        <div class="focus-title">FOCUS AREA / AUDITEE DEPARTMENT</div>
        <div class="form-label">DATE</div>
        <div class="form-label">TIME</div>
      </div>

      <div class="form-row">
        <select
          class="input-select1"
          name="department"
          required
          [(ngModel)]="selectedDept"
          (change)="onDepartmentChange()"
        >
          <option value="" disabled>- AUDITEE DEPARTMENT -</option>
          <option *ngFor="let dept of projectlist" [value]="dept">{{ dept }}</option>
        </select>

        <!-- <input
          type="date"
          class="input-date"
          name="selectedDate"
          required
          [(ngModel)]="selectedDate"
          (change)="onDateChange()"
        /> -->

<input
  type="date"
  class="input-date"
  name="selectedDate"
  required
  [(ngModel)]="selectedDate"
  [attr.min]="minDate"
  [attr.max]="maxDate"
  (change)="onDateChange()"
/>



        <select
          class="input-select"
          name="Time"
          required
          [(ngModel)]="selectedTime"
        >
          <option value="" disabled>- Select TIME -</option>
          <option *ngFor="let time of filteredTimes" [value]="time">{{ time }}</option>
        </select>
      </div>

      <!-- <div class="submit-row">
        <button type="submit" class="submit-btn" [disabled]="form.invalid">SUBMIT</button>
      </div>
    </div> -->

<div class="submit-row">
  <strong class="last-date-text1">Note:</strong><strong class="last-date-text">{{ event.organizerLastDate }}</strong>
  <!-- <button
    type="submit"
    class="submit-btn"
    [disabled]="form.invalid || isSubmitDisabled">
    SUBMIT
  </button> -->
  <button
  type="submit"
  class="submit-btn"
  [disabled]="form.invalid"
  (click)="onSubmit()"
>
  SUBMIT
</button>

</div>
</div>

    <!-- Display selected department info -->
    <div *ngIf="selectedAuditee" class="auditee-table-wrapper">
      <table class="selected-auditee-table">
        <thead>
          <tr>
            <th>DEPARTMENT</th>
            <th>AUDITEES</th>
            <th>DATE</th>
            <th>TIME</th>
            <th>AUDITORS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ selectedAuditee.auditeedepartment }}</td>
            <td>{{ selectedAuditee.auditees }}</td>
            <td>{{ selectedAuditee.starting }}</td>
            <td>{{ selectedAuditee.time }}</td>
            <td>{{ selectedAuditee.auditors }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <table class="table table-striped table-bordered layout" name="eventschdule">
      <thead class="table-primary eventscadmin">
        <tr>
          <th class="eventscad" scope="col">AUDITEE DEPARTMENT</th>
          <th scope="col" class="eventscadmincol">PROCEDURE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eventscadmin of eventscheduleradmin">
          <td>{{ eventscadmin.auditeedepartment }}</td>
          <td>{{ eventscadmin.procedures }}</td>
        </tr>
      </tbody>
    </table>
  </form>
</div>

<ng-template #noAccess>
  <p>You do not have permission to access this page.</p>
</ng-template>
