<form class="row g-3">
    <!-- <div>
        <label class="lbllogin">Login as </label>
    </div> -->
    <app-sprtheader></app-sprtheader>
    <img class="img" src="\assets\images\Inteq logo.png">
    <div>
        <button class="btn btn-dark btnback" routerLink="/registration">Back</button>
    </div>
    <h1 class="h1">Welcome to INTEQ Emergency Contact List</h1>
    <div *ngIf="isLoading" class="loading-container">
        <span class="dot"></span>
    </div>
    <div class="tablebottom">
        <table *ngIf="!isLoading" class="table table-striped table-bordered" name="emergencycnctlist" >
            <thead class="table-primary">
                <tr>
                    <th scope="col">Functions/Operations/Projects</th>
                    <th scope="col">Name</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of emersprtlist" >
                    <td>{{row.functions}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.mobile}}</td>
                    <td>{{row.email}}</td>   
                </tr>
            </tbody>
        </table>
    </div> 
    <h4 class="h4">Emergency Reference Docs</h4>
    <div class="tablebottom1">
        <table *ngIf="!isLoading" class="table table-striped table-bordered" name="emergency">
            <thead class="table-primary">
                <tr>
                    <th scope="col" style="width:70%">Document Name</th>
                    <th scope="col" style="width:30%">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of EmerGeneraldata" >
                    <td>{{item.documentName}}</td>
                    <td>
                        <a [href]="item.url" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>  
                </tr>
            </tbody>
        </table>
    </div>
</form>
