.tablebottom {
    margin-top: 4%;
    position: absolute;
    width: 100%;
}
table {
    width: 100% !important; /* Ensures the table does not exceed 100% */
    table-layout: fixed; /* Prevents columns from expanding */
    border-collapse: collapse; /* Removes extra spacing */
}


th, td {
    word-wrap: break-word; /* Prevents text from overflowing */
    overflow: hidden; /* Hides overflow content */
    text-overflow: ellipsis; /* Adds "..." for long text */
    border: 1px solid #ddd; /* Optional: Add borders for better visuals */
    text-align: left; /* Aligns text properly */
    width: 100%;
}

th:nth-child(1), td:nth-child(1) { width: 35px; } 
th:nth-child(2), td:nth-child(2) { width: 100px; } 
th:nth-child(3), td:nth-child(3) { width: 140px; } 
th:nth-child(4), td:nth-child(4) { width: 160px }
th:nth-child(5), td:nth-child(5) { width: 160px }
th:nth-child(6), td:nth-child(6) { width: 90px; } 
th:nth-child(7), td:nth-child(7) { width: 120px; } 
th:nth-child(8), td:nth-child(8) { width: 90px; } 
th:nth-child(9), td:nth-child(9) { width: 90px; } 
th:nth-child(10), td:nth-child(10) { width: 90px; } 
th:nth-child(11), td:nth-child(11) { width: 90px; } 
th:nth-child(12), td:nth-child(12) { width: 130px; } 
th:nth-child(13), td:nth-child(13) { width: 110px; } 
th:nth-child(14), td:nth-child(14) { width: 90px; } 
th:nth-child(15), td:nth-child(15) { width: 70px; } 

.pagination {
    margin-left: 80%;
}
.divmodal{
    margin-top: 1%;
    font-size: 15px;
}
.headermodal{
    font-size: 15px;
    font-weight: bold;
}
 .main-container{
    margin-top: 4%;
    margin-left: 12%;
}
 /* LeftMenuBar adjustment */
.content-wrapper {
  margin-left: 100px;
  transition: margin-left 0.3s ease;
  padding: 20px;
}

.content-wrapper.sidebar-collapsed {
  margin-left: -60px;
}

.sidebar {
  width: 250px;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 60px;
}
