<!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;">
    <img class="img" src="/assets/images/Inteq logo.png">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav nav-pills nav-list">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home"  routerLinkActive="active-tab" 
            [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/soc2task"  routerLinkActive="active-tab" 
            [routerLinkActiveOptions]="{ exact: true }" >SOC2 Calendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/soc2history" routerLinkActive="active-tab" 
            [routerLinkActiveOptions]="{ exact: true }" >SOC2 History</a>
          </li>
          <li class="nav-item ms-auto">
            <a class="nav-link ms-auto" routerLink="/soc2mails" routerLinkActive="active-tab" 
            [routerLinkActiveOptions]="{ exact: true }"  >SOC2 Mails</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()" style="cursor: pointer;">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
    <div>
        <!-- <label class="lbllogin">Login as <strong>{{ userName }}</strong></label> -->
             <app-header></app-header>
         <app-sprtheader></app-sprtheader>
        <!-- <label class="lbllogin">Login as <strong>{{ userName }}</strong></label> -->
    </div>