 <app-leftmenu (sidebarToggled)="onSidebarToggled($event)"></app-leftmenu>

<div class="content-wrapper" [class.sidebar-collapsed]="isSidebarClosed">
  <div class="main-container">

 <form class="row g-3"  #attendanceform="ngForm" (ngSubmit)="submitdata(adminform.value)">
 <div class="mt-4">
   <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="p-4 border rounded bg-light shadow-sm">
    <h2 class="mb-3 text-danger fw-bold">Modify User Leaves, Login and Logout</h2>

    <!-- Row: Date -->
    <div class="row mb-3">
      <div class="col-md-4">
        <label class="form-label">Choose Date</label>
        <input type="date" class="form-control" name="selectedDate" [(ngModel)]="selectedDate">
      </div>
    </div>

    <!-- Row: Employee Name & ID -->
    <div class="row g-3 align-items-end">
      <div class="col-md-3">
        <label class="form-label">Employee Name</label>
        <input type="search" class="form-control" name="searchname" placeholder="Enter Employee Name"
          [(ngModel)]="searchname">
      </div>

      <div class="col-md-3">
        <label class="form-label">Employee ID</label>
        <input type="search" class="form-control" name="searchid" placeholder="Enter Employee ID"
          [(ngModel)]="searchid">
      </div>

      <div class="col-md-2">
        <button type="button" class="btn btn-primary w-100" (click)="searchEmployee()">
          <i class="bi bi-search"></i> Search
        </button>
      </div>
    </div>

    <hr class="my-4" />

    <!-- Row: Login Logout Time -->
    <div class="row g-3">
      <div class="col-md-3">
        <label class="form-label">Login Time</label>
        <input type="time" class="form-control" name="time1" [(ngModel)]="time1" [disabled]="isSecondSelectDisabled">
      </div>

      <div class="col-md-3">
        <label class="form-label">Logout Time</label>
        <input type="time" class="form-control" name="time2" [(ngModel)]="time2" [disabled]="isSecondSelectDisabled">
      </div>

      <div class="col-md-3">
        <label class="form-label">Leave Type</label>
        <select class="form-select" name="leavetype" [(ngModel)]="leave" (change)="onSelect1Change()">
          <option value="" disabled>- select leave type -</option>
          <option value="Full Day">Full Day</option>
          <option value="Half Day">Half Day</option>
          <option value="OH(Optional Holiday)">OH(Optional Holiday)</option>
        </select>
      </div>
    </div>

    <!-- Row: Action Buttons -->
    <div class="row mt-4">
      <div class="col-md-2">
        <button type="submit" class="btn btn-success w-100">Save</button>
      </div>

      <div class="col-md-2">
        <button type="button" class="btn btn-secondary w-100" (click)="clearData()">Clear</button>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="p-4 border rounded bg-light shadow-sm">
      <h2 class="fw-bold text-primary">Inteq Holidays</h2>

      <div class="table-responsive mt-3">
        <table class="table table-striped table-bordered align-middle text-center">
          <thead class="table-primary">
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Holiday</th>
              <th scope="col" style="width: 160px;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">10-10-2020</th>
              <td>Dasara</td>
              <td>
                <button type="button" class="btn btn-success btn-sm me-1" data-bs-toggle="modal"
                  data-bs-target="#modalAdd">
                  <i class="bi bi-plus-square"></i>
                </button>

                <button type="button" class="btn btn-warning btn-sm me-1" data-bs-toggle="modal"
                  data-bs-target="#modalEdit">
                  <i class="bi bi-pencil-square"></i>
                </button>

                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                  data-bs-target="#deleteModal">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Add Modal -->
  <div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="modalAddLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="modalAddLabel">Add Holiday</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Choose Date</label>
            <input type="date" class="form-control" [(ngModel)]="selectedDate">
          </div>

          <div class="mb-3">
            <label class="form-label">Holiday Name</label>
            <input type="text" class="form-control" [(ngModel)]="addholidays">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="addholiday()">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit Modal -->
  <div class="modal fade" id="modalEdit" tabindex="-1" aria-labelledby="modalEditLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-warning" id="modalEditLabel">Edit Holiday</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Choose Date</label>
            <input type="date" class="form-control" [(ngModel)]="selectedDate">
          </div>

          <div class="mb-3">
            <label class="form-label">Holiday Name</label>
            <input type="text" class="form-control" [(ngModel)]="editholidays">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="editholiday()">Save</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-header bg-danger text-white">
          <h5 class="modal-title">Confirm Delete</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          Are you sure you want to delete this holiday?
        </div>

        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteHoliday()">Delete</button>
        </div>

      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="p-4 border rounded bg-light shadow-sm">
    <h2 class="mb-3 text-primary fw-bold">Employee Leave Details</h2>

    <form class="row g-3">

      <!-- Month -->
      <div class="col-md-3 col-12">
        <label class="form-label">Month</label>
        <select name="month" class="form-select">
          <option value="" disabled selected>- select month -</option>
          <option value="jan">January</option>
          <option value="feb">February</option>
        </select>
      </div>

      <!-- Year -->
      <div class="col-md-3 col-12">
        <label class="form-label">Year</label>
        <select name="year" class="form-select">
          <option value="" disabled selected>- select year -</option>
          <option value="2024">2024</option>
          <option value="2023">2023</option>
        </select>
      </div>

      <!-- Project -->
      <div class="col-md-3 col-12">
        <label class="form-label">Project Name</label>
        <select name="project" class="form-select">
          <option value="">- select project -</option>
          <option *ngFor="let project of projects">{{ project.name }}</option>
        </select>
      </div>

      <!-- Employee Name -->
      <div class="col-md-3 col-12">
        <label class="form-label">Employee Name</label>
        <select name="employee" class="form-select">
          <option value="">- select employee -</option>
          <option *ngFor="let employee of employees">{{ employee.name }}</option>
        </select>
      </div>

      <!-- Emp ID -->
      <div class="col-md-3 col-12">
        <label class="form-label">Emp ID</label>
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Employee ID">
          <button class="btn btn-outline-secondary">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>

      <!-- Total Leave Count -->
      <div class="col-md-3 col-12">
        <label class="form-label">Total Leave Count</label>
        <input type="text" class="form-control">
      </div>

      <!-- Save Button -->
      <div class="col-md-3 col-12 d-flex align-items-end">
        <button class="btn btn-success w-100">Save</button>
      </div>

    </form>
  </div>
</div>
</div>
</div>
</div>
</form>
 