 
    .lbllogin{
   margin-top: 1.5%;
    width: 100%;
    text-align: right;
    padding-right: 120px;
}

.pagination {
    margin-left: 72%;
}
.container-table {
   border-style: solid;
    border-color: inherit;
    border-width: 1px;
    border-radius: 5px;
    height: 310px;
}
.notify {
    background-color: rgb(36, 120, 156);
    color: white;
    height: 42px;
    text-align: center;
    border-radius: 2%;
}

.container-wrapper {
  display: flex;
    gap: 10px;
}
.container-info {
    border-style: solid;
    border-color: inherit;
    border-width: 1px;
    margin-top: 1%;
    /* width: 592px; */
    border-radius: 5px;
    height: 335px;
    /* margin-left: 0.5%; */
}
.btnSave{
    width:200px;
    text-align: center;
}



