/* Ensure container doesn't stretch too much */
.lbllogin {
   margin-top: 1.5%;
    margin-left: 85%;
    font-size: 16px;
}
/* Buttons styling */
.btnsearch, .buttonclr {
  background-color: rgb(13, 152, 233);
  color: white;
  height: 35px;
  border-radius: 4px;
  border: none;
}
 .text{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: Roboto, sans-serif;
    letter-spacing: .0178571429em;
}
 .main_container{
padding-left: 49px;
 } 
 .tablebottom {
    margin-top: 1%;
}
.pagination {
    margin-left: 72%;
}

th {
    white-space: nowrap;
}