<app-header></app-header>
  <form class="row g-3">
    <div>
        <label class="lbllogin">Login as </label>
    </div>
    <div class="container">
        <div class="row g-3">
            <div class="col-md-3">
                <label for="Empname" class="form-label">Skill Name</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-controlsearchname" id="Empname">
            </div>
            <div class="col-md-3">
                <label for="Empid" class="labelid-role1">Mode of Training</label>
            </div>
            
            <div>
                <!-- <div class="drpyear">
                    <button class="btn dropdown-toggle btn-drp-year " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      - Select Mode -
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">azure</a></li>
                      <li><a class="dropdown-item" href="#">Devops</a></li>
                    </ul>
                  </div> -->
                  <select id="select1" name="modetype" class="drpyear"  name="modetype">
                    <!-- <option value="" disabled selected>- select leave type -</option>
                    <option *ngFor="let leaves of leavetype">
                        {{ leaves.name }}
                    </option> -->
                     <option   >- Select Mode -</option>
                     <option >Teams</option>
                </select>
                <div>
                <button class="btn btnsearch">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                      </svg>
                </button>
            </div>
            </div>
            <div>
                <label class="lblcal">Choose Date</label>
                <input class="inputcal" type="date" name="selectedDate" [(ngModel)]="selectedDate" >
            </div>
            <div>
                <label class="lbltime">Time</label>
                <input type="text" class="form-control" id="Empname">
            </div>
            <div>
                <button class="buttonclr">Clear</button>
              </div>
        </div>
    </div>
    <div class="tablebottom">
        <table class="table table-striped table-bordered">
            <thead class="table-primary">
                <tr>
                  <th scope="col">Enrollment Id</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Mobile</th>
                  <th scope="col">Skill Name</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">Skill Type</th>
                  <th scope="col">Batch Members</th>
                  <th scope="col">Registered Date</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of Registeredusers">
                    <!-- <th scope="row"></th> -->
                    <td>{{row.enrollmentID}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.mail}}</td>
                    <td>{{row.mobile}}</td>
                    <td>{{row.skillName}}</td>
                    <td>{{row.date}}</td>
                    <td>{{row.time}}</td>
                    <td>{{row.venue}}</td>
                    <td>{{row.batchmembers}}</td>
                    <td>{{row.enrollmentDate}}</td>
                    <td>
                        <button class="btn btn-info me-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                            </svg>
                        </button>
                    </td>
                </tr>
              </tbody>
          </table>
          <div class="pagination">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" [class.disabled]="currentPage === 1">
                      <a class="page-link" href="#" (click)="prevPage($event)">Previous</a>
                    </li>
                  
                    <!-- Use *ngFor to iterate directly over the totalPages array -->
                    <li *ngFor="let page of totalPages" class="page-item" [class.active]="currentPage === page">
                      <a class="page-link" href="#" (click)="setPage(page, $event)">{{ page }}</a>
                    </li>
                  
                    <li class="page-item" [class.disabled]="currentPage === totalPages.length">
                      <a class="page-link" href="#" (click)="nextPage($event)">Next</a>
                    </li>
                  </ul>
                  
                  </nav>
          </div>
      </div>
      
  </form>
