  .lbllogin{
    margin-top: 1.5%;
    margin-left: 75%;
    position: absolute;
}
.formcont{
    overflow: hidden;
    width: 100%;
}
  .container {
    border-style: solid;
    border-color: inherit;
    border-width: 1px;
    margin-top: 3.5%;
    /* width: 1565px; */
    width: 98%;
    border-radius: 5px;
    height: 139px;
    margin-left: 1%;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}
.tablebottom {
    margin-top: 1%;
}
.pagination {
    margin-left: 66%;
}

.drpyear {
    position: absolute;
    margin-left: 21.3%;
    margin-top: 1.5%;
    border-color: black;
    color: black;
    width: 23%;
    border-radius: 5px;
    border: 1px solid black;
    height: 35px;
    text-align: center;
}

.btn-drp-year {
    width: 256px;
    height: 35px;
}
.dropdown-menu.show {
    display: block;
    width: 260px;
    text-align: center;
}
.form-controlsearchname {
    display: block;
    width: 23%;
    position: absolute;
    margin-left: 21.3%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 0.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    border-radius: 5px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-top: -2%;
    position: absolute;
    outline-offset: 0.5px;
}

.btnsearch {
    margin-left: 52%;
    margin-top: 0.7%;
    position: absolute;
    height: 35px;
    background-color: rgb(13, 152, 233);
    outline-offset: 3px;
    border-radius: 4px;
}
label {
    display: inline-block;
    margin-left: 16%;
    color: black;
    margin-top: 1%;
    font-size: 15px;
}
.labelid-role1{
    display: inline-block;
    margin-left: 12.7%;
    color: black;
    margin-top: 2%;
    position: absolute;
}
.lblcal {
    display: inline-block;
    margin-left: 30.5%;
    color: black;
    margin-top: 1%;
    position: absolute;
}
.cal{
    margin-left: 45%;
    margin-top: -2%;
    height: 47px;
}
.inputcal {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 11%;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    margin-left: 37%;
    margin-top: 0.8%;
    position: absolute;
}
.lbltime{
    display: inline-block;
    margin-left: 54%;
    color: black;
    margin-top: 2%;
    position: absolute;
}
.form-control {
    display: block;
    width: 11.2%;
    margin-left: 57.2%;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-color: black;
    font-weight: 400;
    line-height: 0.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-color: black;
    margin-top: 1.5%;
    position: absolute;
    height: 35px;
    border-radius: 5px;
}
.buttonclr {
    cursor: pointer;
    margin-top: 1.4%;
    margin-left: 71%;
    border-color: black;
    color: black;
    background-color: rgb(192, 216, 230);
    width: 81px;
    border-radius: 5px;
    height: 35px;
    position: absolute;
}