<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;">
    <img class="img" src="\assets\images\Inteq logo.png">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" href="#" routerLinkActive="active-tab">Home</a>
        </li>
          <li class="nav-item">
            <a class="nav-link " href="#">RegisteredUser</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">AddNewSkill</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">SkillQA</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Compliance
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">ISMS Task</a></li>
              <li><a class="dropdown-item" href="#">QMS Task</a></li>
              <li><a class="dropdown-item" href="#">SOC2 Task</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              AllDepts
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Admin Dept</a></li>
              <li><a class="dropdown-item" href="#">HR Dept</a></li>
              <li><a class="dropdown-item" href="#">IT Dept</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">AdminUsers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Attendance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">RegistrationPage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
