h1 {
    /* font-family: Times New Roman; */
    display: block;
    font-size: 2em;
    font-weight: bold;
    unicode-bidi: isolate;
    text-align: center;
    color: rgb(55, 103, 236);
}
.h2 {
    /* font-family: Times New Roman; */
    display: block;
    font-size: 1.7em;
    font-weight: bold;
    unicode-bidi: isolate;
    text-align: center;
    color: rgb(86, 105, 158);
}
.container {
    border-style: solid;
    border-color: inherit;
    border-width: 1px;
    margin-top: 0%;
    width: 1563px;
    border-radius: 5px;
    height: 600px;
    margin-left: 1%;
    
}
.form-check-input {
    --bs-form-check-bg: var(--bs-body-bg);
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    margin-top: 1em;
    vertical-align: top;
    appearance: none;
    background-color: var(--bs-form-check-bg);
    background-image: var(--bs-form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    height: 27px;
    width: 26px;
    border-color: black;
}
.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.lblallemp{
    display: inline-block;
    margin-left: 1%;
    font-weight: bold;
    color: black;
    margin-top: 1.2%;
    position: absolute;
}
.lblprj{
    display: inline-block;
    margin-left: 11%;
    font-weight: bold;
    color: black;
    margin-top: -0.4%;
    position: absolute;
}
.lbllop{
    display: inline-block;
    margin-left: 1%;
    font-weight: bold;
    color: black;
    margin-top: 1.1%;
    position: absolute;
}
.drpdwnbtmprj {
    cursor: pointer;
    margin-top: -1%;
    margin-left: 20%;
    border-color: black;
    background-color: rgb(213, 225, 240);
    color: black;
    width: 260px;
    border-radius: 5px;
    border: 1px solid black;
    height: 35px;
}
.drpbtn {
    width: 259px;
    height: 35px;
}
.drpmnth {
    position: relative;
    margin-left: 45%;
    margin-top: -2.2%;
    border-color: black;
    background-color: rgb(213, 225, 240);
    color: black;
    width: 153px;
    border-radius: 5px;
    border: 1px solid black;
    height: 35px;
}
.btn-drp-mnth {
    height: 35px;
}
.drpyear {
    position: relative;
    margin-left: 64%;
    margin-top: -2.3%;
    border-color: black;
    background-color: rgb(213, 225, 240);
    color: black;
    width: 157px;
    border-radius: 5px;
    border: 1px solid black;
    height: 35px;
}

.btn-drp-year {

    width: 155px;
    height: 35px;
}
.buttonprnt {
    cursor: pointer;
    margin-top: -2.3%;
    margin-left: 81%;
    border-color: black;
    color: black;
    background-color: rgb(159, 196, 238);
    width: 181px;
    border-radius: 5px;
    position: absolute;
    height: 35px;
}
.form-check-input1 {
    --bs-form-check-bg: var(--bs-body-bg);
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    margin-top: 1em;
    vertical-align: top;
    appearance: none;
    background-color: var(--bs-form-check-bg);
    background-image: var(--bs-form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    height: 27px;
    width: 26px;
    border-color: black;
}
.input2 {
    margin-left: 23%;
    border-color: black;
}
.input3 {
    margin-left: 26%;
    border-color: black;
}
.input4 {
    margin-left: 30%;
    border-color: black;
}
.tablebottom {
    margin-top: 2%;
}
.pagination {
    margin-left: 72%;
}