
.tablebottom {
    margin-top: 1.5%;
}
.pagination {
    margin-left: 72%;
}
.lbllogin{
   margin-top: 1.5%;
    width: 100%;
    text-align: right;
    padding-right: 120px;
}
.main-container{
    margin-top: 4%;
    margin-left: 8%;
}
 /* LeftMenuBar adjustment */
.content-wrapper {
  margin-left: 100px;
  transition: margin-left 0.3s ease;
  padding: 20px;
}

.content-wrapper.sidebar-collapsed {
  margin-left: -60px;
}

.sidebar {
  width: 250px;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 60px;
}
