.form-label{
    margin-top: -3.5%;
    margin-left: 33%;
    width: 124px;
    position: absolute;
}
.form-controlone {
    display: block;
    border-color: black;
    color: black;
    border: 1px solid black;
    border-radius: 6px;
    text-align: center;
    width: 20%;
    margin-top: 0%;
    margin-left: 71.5%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline-offset: 1px;
    margin-top: -4%;
    margin-left: 39%;
    position: absolute;
}
.tablebottom {
    margin-top: 6%;
}
.pagination {
    margin-left: 72%;
}