<form class="row g-3">
    <div>
        <label class="lbllogin">Login as </label>
    </div>
    <img class="img" src="\assets\images\Inteq logo.png">
    <div>
        <button class="btn btn-dark btnback" routerLink="/registration">Back</button>
    </div>
    <h1 class="h1">Welcome to INTEQ ISO 27001:2013</h1>
    <h2 class="h2">CISO\HCO\MR : C V Prasad</h2>
    <div class="tablebottom">
        <table class="table table-striped table-bordered" name="projectinfo" >
            <thead class="table-primary">
                <tr>
                    <th scope="col">Function/Operations/Projects</th>
                    <th scope="col">Name/Project Coordinators</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mark</td>
                    <td>Control</td>
                    <td>Mark</td>
                    <td>Control</td>  
                </tr>
            </tbody>
        </table>
    </div> 
    <div class="divtext">
        <h3 class="h3">Contact Email ID:<a style="color: red;">Security Incidents Reporting Email Id:</a></h3>
        <a  class="btn btnlnk btn-link" href="mailto:incidents@inteqsolutions.com">{{email}}</a>
    </div>
    <h4 class="h4">ISMS for Projects</h4>
    <div class="tablebottom">
        <table class="table table-striped table-bordered" name="prjisms1">
            <thead class="table-primary">
                <tr>
                    <th scope="col">General Document Name</th>
                    <th scope="col" colspan="2">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >Mark</td>
                    <td>
                        <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>  
                </tr>
            </tbody>
        </table>
    </div> 
    <div class="tablebottom">
        <table class="table table-striped table-bordered" name="prjisms2">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Guidelines Document Name</th>
                    <th scope="col" colspan="2">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >Mark</td>
                    <td>
                        <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tablebottom">
        <table class="table table-striped table-bordered" name="prjisms3">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Policy Document Name</th>
                    <th scope="col" colspan="2">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >Mark</td>
                    <td>
                        <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>   
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tablebottom">
        <table class="table table-striped table-bordered" name="prjisms4">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Procedure Document Name</th>
                    <th scope="col" colspan="2">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >Mark</td>
                    <td>
                        <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>  
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tablebottom">
        <table class="table table-striped table-bordered" name="prjisms5">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Formats Document Name</th>
                    <th scope="col" colspan="2">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >Mark</td>
                    <td>
                        <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>  
                </tr>
            </tbody>
        </table>
    </div>
    <h4 class="h4">QMS for Projects</h4>
    <div class="tablebottom">
        <table class="table table-striped table-bordered" name="prjqms1">
            <thead class="table-primary">
                <tr>
                    <th scope="col">General Document Name</th>
                    <th scope="col" colspan="2">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >Mark</td>
                    <td>
                        <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>  
                </tr>
            </tbody>
        </table>
    </div> 
    <div class="tablebottom">
        <table class="table table-striped table-bordered" name="prjqms2">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Guidelines Document Name</th>
                    <th scope="col" colspan="2">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >Mark</td>
                    <td>
                        <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>  
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tablebottom">
        <table class="table table-striped table-bordered" name="prjqms3">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Policy Document Name</th>
                    <th scope="col" colspan="2">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >Mark</td>
                    <td>
                        <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>   
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tablebottom">
        <table class="table table-striped table-bordered" name="prjqms4">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Procedure Document Name</th>
                    <th scope="col" colspan="2">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >Mark</td>
                    <td>
                        <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>  
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tablebottom">
        <table class="table table-striped table-bordered" name="prjqms5">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Formats Document Name</th>
                    <th scope="col" colspan="2">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >Mark</td>
                    <td>
                        <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>   
                </tr>
            </tbody>
        </table>
    </div>
</form>