<div class="p-3 mb-2 bg-light">
    <h1 class="h1" >INTEQ ATTENDANCE MANAGEMENT SYSTEM</h1>
</div>
<div class="p-3 mb-2">
    <h2 class="h2" >Admin User</h2>
</div>
<form class="row g-3">
    <div class="container-top">
    <h3 class="h3">Modify User Leaves, Login and Logout</h3>
    <div class="cal">
        <label class="lblcal">Choose Date</label>
        <input class="inputcal" type="date">
    </div>
    <div class="row g-3">
    <div class="col-md-3">
        <label for="Empname" class="form-label">Emp.Name</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" id="Empname">
    </div>
    <div class="col-md-3">
        <label for="Empid" class="labelid-role1">Emp.ID</label>
    </div>
    <!-- <div class="col-md-3">
        <input type="text" class="form-control" id="Empid">
    </div> -->
    <div>
        <div>
          <input type="search" class="form-controlsearch" />
        </div>
        <div>
        <button class="btn btnsearch">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
              </svg>
        </button>
    </div>
    </div>
    <label class="labeltime1">Login Time</label>
    <input class="time1" type="time">
    <label class="labeltime2">Logout Time</label>
    <input class="time2" type="time">
    <!-- <div class="col-md-3">
        <label for="Role" class="labelid-role2">Leave</label>
    </div> -->
    <div class="col-md-3">
        <label class="labeldrp1">Leave</label>
       <div class="drpdwn1">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          - select leave type -
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Full Day</a></li>
          <li><a class="dropdown-item" href="#">Half Day</a></li>
          <li><a class="dropdown-item" href="#">OH(Optional Holiday)</a></li>
        </ul>
      </div>
    </div>
    <div>
        <button class="buttonsave">Save</button>
      </div>
      <div>
        <button class="buttonclr">Clear</button>
      </div>
    </div>
    </div>
</form>
