<form class="row g-3">
    <div>
        <label class="lbllogin">Login as </label>
    </div>
    <img class="img" src="\assets\images\Inteq logo.png">
    <div>
        <button class="btn btn-dark btnback" routerLink="/registration">Back</button>
    </div>
    <h1 class="h1">Welcome to INTEQ ISO 9001</h1>
    <h2 class="h2">CISO: C V Prasad</h2>
    <div *ngIf="isLoading" class="loading-container">
        <span class="dot"></span>
    </div>
    <div class="tablebottom">
        <table *ngIf="!isLoading" class="table table-striped table-bordered" name="iso27001">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Contact Priority</th>
                    <th scope="col">Name</th>
                    <th scope="col">Mobile</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of isosprtlist" >
                    <td>{{row.contactPriority}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.mobile}}</td>
                    <td>{{row.email}}</td> 
                </tr>
            </tbody>
        </table>
    </div> 
    <div class="divtext">
        <h3 class="h3">Contact Email ID:</h3>
        <a  class="btn btnlnk btn-link" href="mailto:cvprasad@inteqsolutions.com">{{email}}</a>
    </div>
    <h4 class="h4">ISO Info</h4>
    <div class="tablebottom1">
        <table *ngIf="!isLoading" class="table table-striped table-bordered" name="isosprt">
            <thead class="table-primary">
                <tr>
                    <th scope="col" style="width:70%">Document Name</th>
                    <th scope="col" style="width:30%">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let item of isoinfolist">
                    <td >{{item.documentName}}</td>
                    <td>
                        <a [href]="item.url" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>   
                </tr>
            </tbody>
        </table>
    </div>
    <h4 class="h4">Management</h4>
    <div class="tablebottom1">
        <table *ngIf="!isLoading" class="table table-striped table-bordered" name="cisoqms2">
            <thead class="table-primary">
                <tr>
                    <th scope="col" style="width:70%">Guidelines Document Name</th>
                    <th scope="col" style="width:30%">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cisoqmsGuidelinesdata">
                    <td >{{item.documentName}}</td>
                    <td>
                        <a [href]="item.url" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td> 
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tablebottom1">
        <table *ngIf="!isLoading" class="table table-striped table-bordered" name="cisoqms4">
            <thead class="table-primary">
                <tr>
                    <th scope="col" style="width:70%">Procedure Document Name</th>
                    <th scope="col" style="width:30%">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cisoqmsProceduredata">
                    <td >{{item.documentName}}</td>
                    <td>
                        <a [href]="item.url" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>   
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tablebottom1">
        <table *ngIf="!isLoading" class="table table-striped table-bordered" name="cisoqms5">
            <thead class="table-primary">
                <tr>
                    <th scope="col" style="width:70%">Formats Document Name</th>
                    <th scope="col" style="width:30%">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cisoqmsFormatdata">
                    <td >{{item.documentName}}</td>
                    <td>
                        <a [href]="item.url" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>  
                </tr>
            </tbody>
        </table>
    </div>
    <h4 class="h4">Projects</h4>
    <div class="tablebottom1">
        <table *ngIf="!isLoading" class="table table-striped table-bordered" name="prjisms2">
            <thead class="table-primary">
                <tr>
                    <th scope="col" style="width:70%">Guidelines Document Name</th>
                    <th scope="col" style="width:30%">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let item of prjtqmsGuidelinesdata">
                    <td >{{item.documentName}}</td>
                    <td>
                        <a [href]="item.url" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tablebottom1">
        <table *ngIf="!isLoading" class="table table-striped table-bordered" name="prjisms4">
            <thead class="table-primary">
                <tr>
                    <th scope="col" style="width:70%">Procedure Document Name</th>
                    <th scope="col" style="width:30%">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let item of prjtqmsProceduredata">
                    <td >{{item.documentName}}</td>
                    <td>
                        <a [href]="item.url" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>  
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tablebottom1">
        <table *ngIf="!isLoading" class="table table-striped table-bordered" name="prjisms5">
            <thead class="table-primary">
                <tr>
                    <th scope="col" style="width:70%">Formats Document Name</th>
                    <th scope="col" style="width:30%">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let item of prjtqmsFormatdata">
                    <td >{{item.documentName}}</td>
                    <td>
                        <a [href]="item.url" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>  
                </tr>
            </tbody>
        </table>
    </div>
    <h4 class="h4">IT</h4>
    <div class="tablebottom1">
        <table *ngIf="!isLoading" class="table table-striped table-bordered" name="itisms2">
            <thead class="table-primary">
                <tr>
                    <th scope="col" style="width:70%">Guidelines Document Name</th>
                    <th scope="col" style="width:30%">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of qmsGuidelinesdata">
                    <td >{{item.documentName}}</td>
                    <td>
                        <a [href]="item.url" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td> 
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tablebottom1">
        <table *ngIf="!isLoading" class="table table-striped table-bordered" name="itisms4">
            <thead class="table-primary">
                <tr>
                    <th scope="col" style="width:70%">Procedure Document Name</th>
                    <th scope="col" style="width:30%">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of qmsProceduredata">
                    <td >{{item.documentName}}</td>
                    <td>
                        <a [href]="item.url" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>  
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tablebottom1">
        <table *ngIf="!isLoading" class="table table-striped table-bordered" name="itisms5">
            <thead class="table-primary">
                <tr>
                    <th scope="col" style="width:70%">Formats Document Name</th>
                    <th scope="col" style="width:30%">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of qmsFormatdata">
                    <td >{{item.documentName}}</td>
                    <td>
                        <a [href]="item.url" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4 class="h4">HR</h4>
    <div class="tablebottom1">
        <table *ngIf="!isLoading" class="table table-striped table-bordered" name="hrisms2">
            <thead class="table-primary">
                <tr>
                    <th scope="col" style="width:70%">Guidelines Document Name</th>
                    <th scope="col" style="width:30%">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of HrqmsGuidelinesdata">
                    <td >{{item.documentName}}</td>
                    <td>
                        <a [href]="item.url" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tablebottom1">
        <table *ngIf="!isLoading" class="table table-striped table-bordered" name="hrisms4">
            <thead class="table-primary">
                <tr>
                    <th scope="col" style="width:70%">Procedure Document Name</th>
                    <th scope="col" style="width:30%">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of HrqmsProceduredata">
                    <td >{{item.documentName}}</td>
                    <td>
                        <a [href]="item.url" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>   
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tablebottom1">
        <table *ngIf="!isLoading" class="table table-striped table-bordered" name="hrisms5">
            <thead class="table-primary">
                <tr>
                    <th scope="col" style="width:70%">Formats Document Name</th>
                    <th scope="col" style="width:30%">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of HrqmsFormatdata">
                    <td >{{item.documentName}}</td>
                    <td>
                        <a [href]="item.url" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>   
                </tr>
            </tbody>
        </table>
    </div>
    <h4 class="h4">Admin</h4>
    <div class="tablebottom1">
        <table *ngIf="!isLoading" class="table table-striped table-bordered" name="osisms2">
            <thead class="table-primary">
                <tr>
                    <th scope="col" style="width:70%">Guidelines Document Name</th>
                    <th scope="col" style="width:30%">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of OsqmsGuidelinesdata">
                    <td >{{item.documentName}}</td>
                    <td>
                        <a [href]="item.url" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>    
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tablebottom1">
        <table *ngIf="!isLoading" class="table table-striped table-bordered" name="osisms4">
            <thead class="table-primary">
                <tr>
                    <th scope="col" style="width:70%">Procedure Document Name</th>
                    <th scope="col" style="width:30%">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of OsqmsProceduredata">
                    <td >{{item.documentName}}</td>
                    <td>
                        <a [href]="item.url" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>   
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tablebottom1">
        <table *ngIf="!isLoading" class="table table-striped table-bordered" name="osisms5">
            <thead class="table-primary">
                <tr>
                    <th scope="col" style="width:70%">Formats Document Name</th>
                    <th scope="col" style="width:30%">Share Path Links</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of OsqmsFormatdata">
                    <td >{{item.documentName}}</td>
                    <td>
                        <a [href]="item.url" target="_blank" rel="noopener noreferrer">Click Here</a>
                    </td>  
                </tr>
            </tbody>
        </table>
    </div>
</form>