<form class="row g-3">
<!-- <div>
    <label class="lbllogin">Login as </label>
</div> -->
<app-sprtheader></app-sprtheader>
<img class="img" src="\assets\images\Inteq logo.png">
<div>
    <button class="btn btn-dark btnback" routerLink="/registration">Back</button>
</div>
<h1 class="h1">Assessment Feedback Details</h1>
<div>
    <label class="lblskill">skillName: </label>
    <label class="lblid">ID: </label>
</div>
<div class="radio-container">
<div class="radio-group">
    <label class="radio-label">Subject Matter Knowledge:</label>

    <label class="radio-option">
        <input type="radio" name="subjectMatter" value="Excellent"> Excellent
    </label>

    <label class="radio-option">
        <input type="radio" name="subjectMatter" value="Very Good"> Very Good
    </label>

    <label class="radio-option">
        <input type="radio" name="subjectMatter" value="Good"> Good
    </label>

    <label class="radio-option">
        <input type="radio" name="subjectMatter" value="Fair"> Fair
    </label>

    <label class="radio-option">
        <input type="radio" name="subjectMatter" value="Poor"> Poor
    </label>
</div>
<div class="radio-groupnxt">
    <label class="radio-label">Presentation:</label>

    <label class="radio-option">
        <input type="radio" name="Presentation" value="Excellent"> Excellent
    </label>

    <label class="radio-option">
        <input type="radio" name="Presentation" value="Very Good"> Very Good
    </label>

    <label class="radio-option">
        <input type="radio" name="Presentation" value="Good"> Good
    </label>

    <label class="radio-option">
        <input type="radio" name="Presentation" value="Fair"> Fair
    </label>

    <label class="radio-option">
        <input type="radio" name="Presentation" value="Poor"> Poor
    </label>
</div>
<div class="radio-groupnxt">
    <label class="radio-label">Communication:</label>

    <label class="radio-option">
        <input type="radio" name="Communication" value="Excellent"> Excellent
    </label>

    <label class="radio-option">
        <input type="radio" name="Communication" value="Very Good"> Very Good
    </label>

    <label class="radio-option">
        <input type="radio" name="Communication" value="Good"> Good
    </label>

    <label class="radio-option">
        <input type="radio" name="Communication" value="Fair"> Fair
    </label>

    <label class="radio-option">
        <input type="radio" name="Communication" value="Poor"> Poor
    </label>
</div>
<div class="radio-groupnxt">
    <label class="radio-label">Handling Doubts:</label>

    <label class="radio-option">
        <input type="radio" name="Handlingdoubts" value="Excellent"> Excellent
    </label>

    <label class="radio-option">
        <input type="radio" name="Handlingdoubts" value="Very Good"> Very Good
    </label>

    <label class="radio-option">
        <input type="radio" name="Handlingdoubts" value="Good"> Good
    </label>

    <label class="radio-option">
        <input type="radio" name="Handlingdoubts" value="Fair"> Fair
    </label>

    <label class="radio-option">
        <input type="radio" name="Handlingdoubts" value="Poor"> Poor
    </label>
</div>
<div class="radio-groupnxt">
    <label class="radio-label">Application to work:</label>

    <label class="radio-option">
        <input type="radio" name="Applicationtowork" value="Excellent"> Excellent
    </label>

    <label class="radio-option">
        <input type="radio" name="Applicationtowork" value="Very Good"> Very Good
    </label>

    <label class="radio-option">
        <input type="radio" name="Applicationtowork" value="Good"> Good
    </label>

    <label class="radio-option">
        <input type="radio" name="Applicationtowork" value="Fair"> Fair
    </label>

    <label class="radio-option">
        <input type="radio" name="Applicationtowork" value="Poor"> Poor
    </label>
</div>
</div>
<div>
    <textarea class="txtarea" placeholder="Leave a comment here" ></textarea>
</div>
<div>
    <button class="btn btn-info btnsrch">Submit</button>
</div>
</form>

