/* .container { */
    /* border-style: solid;
    border-color: inherit;
    border-width: 1px;
    margin-top: 2%;
    width: 1563px;
    border-radius: 5px;
    height: 600px;
    margin-left: 1%;
     */
/* } */


.buttonprnt {
    cursor: pointer;
    margin-top: -2.3%;
    margin-left: 81%;
    border-color: black;
    color: black;
    background-color: rgb(159, 196, 238);
    width: 181px;
    border-radius: 5px;
    position: absolute;
    height: 35px;
}
.tablebottom {
    margin-top: 2%;
}
.pagination {
    margin-left: 72%;
}
.btnback{
    margin-top: -5%;
    margin-left: 95%;
}
