/* .container { */
    /* border-style: solid;
    border-color: inherit;
    border-width: 1px;
    margin-top: 2%;
    width: 1563px;
    border-radius: 5px;
    height: 600px;
    margin-left: 1%;
     */
/* } */


.buttonprnt {
    cursor: pointer;
    margin-top: -2.3%;
    margin-left: 81%;
    border-color: black;
    color: black;
    background-color: rgb(159, 196, 238);
    width: 181px;
    border-radius: 5px;
    position: absolute;
    height: 35px;
}
.tablebottom {
    margin-top: 2%;
}
.pagination {
    margin-left: 72%;
}
.btnback{
    margin-top: -5%;
    margin-left: 95%;
}
.main-container{
    margin-top: 4%;
    margin-left: 8%;
}
/* LeftMenuBar adjustment */
.content-wrapper {
  margin-left: 100px;
  transition: margin-left 0.3s ease;
  padding: 20px;
}

.content-wrapper.sidebar-collapsed {
  margin-left: -60px;
}

.sidebar {
  width: 250px;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 60px;
}
