<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fff;"  >
    <img class="img" src="/assets/images/Inteq logo.png">
    <div *ngIf="isLoading" class="loading-container">
      <span class="dot"></span>
  </div>
    <div class="container-fluid" >
      <div class="collapse navbar-collapse" id="navbarNavDropdown" *ngIf="!isLoading">
        <ul class="nav nav-pills nav-list">
        <li class="nav-item" *ngIf="canAccess('home')">
            <a class="nav-link" routerLink="/home"  routerLinkActive="active-tab" 
            [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
          <li class="nav-item" *ngIf="canAccess('registered')">
            <a class="nav-link "  routerLink="/registered"  routerLinkActive="active-tab" 
            [routerLinkActiveOptions]="{ exact: true }" >RegisteredUser</a>
          </li>
          <li class="nav-item" *ngIf="canAccess('addskill')">
            <a class="nav-link " routerLink="/addskill"  routerLinkActive="active-tab" 
            [routerLinkActiveOptions]="{ exact: true }" >AddNewSkill</a>
          </li>
          <li class="nav-item" *ngIf="canAccess('skillqa')">
            <a class="nav-link " routerLink="/skillqa"  routerLinkActive="active-tab" 
            [routerLinkActiveOptions]="{ exact: true }">SkillQA</a>
          </li>
          <li class="nav-item dropdown" *ngIf="canAccess('ismstask') || canAccess('qmstask') || canAccess('soc2task')" >
            <a class="nav-link  dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Compliance
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li *ngIf="canAccess('ismstask')"><a class="dropdown-item" routerLink="/ismstask"  routerLinkActive="active-tab" 
                [routerLinkActiveOptions]="{ exact: true }">ISMS Task</a></li>
              <li *ngIf="canAccess('qmstask')"><a class="dropdown-item" routerLink="/qmstask"  routerLinkActive="active-tab" 
                [routerLinkActiveOptions]="{ exact: true }">QMS Task</a></li>
              <li *ngIf="canAccess('soc2task')"><a class="dropdown-item" routerLink="/soc2task"  routerLinkActive="active-tab" 
                [routerLinkActiveOptions]="{ exact: true }">SOC2 Task</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown" *ngIf="canAccess('admindept') || canAccess('hrdept') || canAccess('itdept')">
            <a class="nav-link  dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              AllDepts
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li *ngIf="canAccess('admindept')"><a class="dropdown-item" routerLink="/admindept"  routerLinkActive="active-tab" 
                [routerLinkActiveOptions]="{ exact: true }">Admin Dept</a></li>
              <li *ngIf="canAccess('hrdept')"><a class="dropdown-item" routerLink="/hrdept"  routerLinkActive="active-tab" 
                [routerLinkActiveOptions]="{ exact: true }">HR Dept</a></li>
              <li *ngIf="canAccess('itdept')"><a class="dropdown-item" routerLink="/itdept"  routerLinkActive="active-tab" 
                [routerLinkActiveOptions]="{ exact: true }">IT Dept</a></li>
            </ul>
          </li>
          <li class="nav-item" *ngIf="canAccess('adminusers')">
            <a class="nav-link " routerLink="/adminusers"  routerLinkActive="active-tab" 
            [routerLinkActiveOptions]="{ exact: true }">AdminUsers</a>
          </li>
          <li class="nav-item" *ngIf="canAccess('attendance')">
            <a class="nav-link " routerLink="/attendance"  routerLinkActive="active-tab" 
            [routerLinkActiveOptions]="{ exact: true }">Attendance</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link  dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Attendance
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="/attendance" routerLinkActive="active-tab" 
                [routerLinkActiveOptions]="{ exact: true }">Attendance</a></li>
              <li><a class="dropdown-item" routerLink="/adminuser" routerLinkActive="active-tab" 
                [routerLinkActiveOptions]="{ exact: true }">Admin User</a></li>
              <li><a class="dropdown-item" routerLink="/pmadminuser" routerLinkActive="active-tab" 
                [routerLinkActiveOptions]="{ exact: true }">PM Admin User</a></li>
              <li><a class="dropdown-item" routerLink="/adminreports" routerLinkActive="active-tab" 
                [routerLinkActiveOptions]="{ exact: true }">Admin Reports</a></li>
              <li><a class="dropdown-item" routerLink="/projectreports" routerLinkActive="active-tab" 
                [routerLinkActiveOptions]="{ exact: true }">project Reports</a></li>
              <li><a class="dropdown-item" routerLink="/monthlyempreport" routerLinkActive="active-tab" 
                [routerLinkActiveOptions]="{ exact: true }">Monthly Emp Report</a></li>
              <li><a class="dropdown-item" routerLink="/configuration" routerLinkActive="active-tab" 
                [routerLinkActiveOptions]="{ exact: true }">Configurations</a></li>
            </ul>
          </li> -->
          <li class="nav-item" *ngIf="canAccess('registration')">
            <a class="nav-link " routerLink="/registration" routerLinkActive="active-tab" 
            [routerLinkActiveOptions]="{ exact: true }">RegistrationPage</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " (click)="logout()" style="cursor: pointer;">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div>
    <!-- <label class="lbllogin">Login as <strong>{{ userName }}</strong> </label> -->
    <app-sprtheader></app-sprtheader>
</div>
