<div class="p-3 mb-2 bg-light">
<h1 class="h1" >INTEQ ATTENDANCE MANAGEMENT SYSTEM</h1>
</div>
<form class="row g-3">
    <div class="col-md-3">
        <label for="Empname" class="form-label">Emp.Name</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" id="Empname">
    </div>
    <div class="col-md-3">
        <label for="Empid" class="labelid-role">Emp.ID</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" id="Empid">
    </div>
    <div class="col-md-3">
        <label for="projname" class="form-label">Project Name</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" id="projname">
    </div>
    <div class="col-md-3">
        <label for="Role" class="labelid-role">Role</label>
    </div>
    <div class="col-md-3">
        <input type="text" class="form-control" id="Role">
    </div>
    <div class="container">
     <div>
        <h2 class="notify">Inteq Holidays</h2>
     </div>
     <div id="newsTicker" class="newsinfo">
        <ul class="newsList">
            <li>Dasara</li>
            <li>Diwali</li>
        </ul>
     </div>
    </div>
    <div class="container-main">
       <h3 for="inputdate" class="main">{{selectedDate| date:'longDate'}}</h3> 
       <div class="form-outline datepicker">
        <!-- <label class="lblcal">Choose Date</label> -->
        <input class="formcontrolcalendar" type="date" [(ngModel)]="selectedDate" id="inputdate">
        <!-- {{selectedDate}} -->
      </div>
       <label class="labeldrp1">Leave</label>
       <div class="drpdwn1">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          - select leave type -
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Full Day</a></li>
          <li><a class="dropdown-item" href="#">Half Day</a></li>
          <li><a class="dropdown-item" href="#">OH(Optional Holiday)</a></li>
        </ul>
      </div>
      <label class="labeldrp2">Work Location</label>
      <div class="drpdwn2">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          - select work type -
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">WFH</a></li>
          <li><a class="dropdown-item" href="#">WFO</a></li>
          <li><a class="dropdown-item" href="#">WFH/WFO</a></li>
        </ul>
      </div>
      <label class="labeltime1">Login Time</label>
      <input class="time" type="time">
      <label class="labeltime2">Logout Time</label>
      <input class="time" type="time">
      <div>
        <label class="labeltime3" *ngIf="false">Extra Hours</label>
        <input class="timeextra" *ngIf="false" type="time">
      </div>
      <div>
        <button class="button">Save</button>
      </div>
    </div>
    <div class="container-calendar">
     <full-calendar class="calsize" [options]="calendarOptions"></full-calendar>
    </div>
    <div class="d-flex justify-content-center">
        <div class="border rounded" data-coreui-toggle="calendar"></div>
    </div>
    <div class="container-bottom">
      <label class="lbltwd">Total Working Days</label>
      <input class="inputtwd" type="text">
      <div class="drpmnth">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          - Select Month -
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">January</a></li>
          <li><a class="dropdown-item" href="#">February</a></li>
          <li><a class="dropdown-item" href="#">March</a></li>
        </ul>
      </div>
      <div class="drpyear">
        <button class="btn dropdown-toggle btn-drp-year " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          - Select Year -
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">2024</a></li>
          <li><a class="dropdown-item" href="#">2023</a></li>
        </ul>
      </div>
      <label class="lbltlc">Total Leave Count</label>
      <input class="inputtlc" type="text">
      <div>
        <button class="buttonprnt">Print\Export</button>
      </div>
      <div class="tablebottom">
        <table class="table table-striped table-bordered">
            <thead class="table-primary">
                <tr>
                  <th scope="col">Emp.ID</th>
                  <th scope="col">Emp.Name</th>
                  <th scope="col">Project Name</th>
                  <th scope="col">Date</th>
                  <th scope="col">Login</th>
                  <th scope="col">Logout</th>
                  <th scope="col">Extra Hours</th>
                  <th scope="col">Total Working Hours</th>
                  <th scope="col">Leaves</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                 
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Mark</td>
                    <td>Otto</td>
                  
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
              </tbody>
          </table>
      </div>
      <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
      </div>
    </div>
</form>

  
  