.btnsearch {
    margin-left: 79%;
    margin-top: -2.3%;
    position: absolute;
    height: 35px;
    background-color: rgb(13, 152, 233);
    outline-offset: 3px;
    border-radius: 4px;
}
/* .container-bottom {
   margin-top: 5%;
    
} */
.buttonprnt {
    cursor: pointer;
    border-color: black;
    color: black;
    background-color: rgb(159, 196, 238);
    width: 181px;
    border-radius: 5px;
    height: 35px;
}
.tablebottom {
    margin-top: 1.5%;
}
.pagination {
  padding-top: 2%;
    padding-left: 83%;
}
