<app-header></app-header>
  <form class="row g-3">
    <!-- <div>
        <label class="lbllogin">Login as <strong>{{ userName }}</strong> </label>
    </div> -->
    <h1 class="h1">Welcome to our website</h1>
    <br>
    <p class="p1">
            Inteq is an ISO 9001:2015 certified company with CMMI initiative. Established in 1994, 
            Inteq has a track record of providing software development and quality assurance services. 
            We have built intellectual property and competence in emerging technologies and various domain areas. 
            Our solutions include a line of outsourced product development and offshore software development services for small, 
            medium corporations and emerging technology businesses.
    </p>  
    <h3 class="h3 blink">Our Customers:</h3>
    <br>
            <p class="p2">
                    At Inteq, we are committed to delivering the best solution to each client 
                    and believe in developing long-term partnerships. Our customers value 
                    Inteq because of our expertise in technology and multiple domains, 
                    coupled with a range of flexible engagement models for them to choose 
                    from depending on the nature, suitability, budget and priority of the assignment.
            </p>
            <br>
            <p>
                <img style="margin-left: 4%;" src="/assets/images/citra.png">
            </p>
            <p>
                <img style="margin-left: 4%;" src="/assets/images/edlogia.jpg">
            </p>
            <p>
                <img style="margin-left: 4%;" src="/assets/images/globalexcel.png">
            </p>
            <p>
                <img style="margin-left: 4%;" src="/assets/images/atlas.png">
            </p>
            <p>
                <img style="margin-left: 16%;margin-top: -42%;" src="/assets/images/NNA.jpg">
            </p>
            <p>
                <img style="margin-left: 16%;margin-top: -34.8%;" src="/assets/images/golf.jpg">
            </p>
            <p>
                <img style="margin-left: 16%;margin-top: -27.2%;" src="/assets/images/redwood.png">
            </p>
            <p>
                <img style="margin-left: 16%;margin-top: -20%;" src="/assets/images/tam.png">
            </p>
            <p>
                <img style="margin-left: 28%;margin-top: -58.2%;" src="/assets/images/cgi.jpg">
            </p>
            <p>
                <img style="margin-left: 28%;margin-top: -50.8%;" src="/assets/images/sage.png">
            </p>
            <p>
                <img style="margin-left: 28%;margin-top: -43.5%;" src="/assets/images/inetwork.png">
            </p>
            <h4 class="h4 blink">Our Services:</h4>
            <br>
            <div class="services">
                <p style="margin-left:72%;margin-top:0%;width:19%;text-align:justify;">Application Development</p>
                <p style="margin-left:72%;margin-top:0%;width:19%;text-align:justify;">Application Migration</p>
                <p style="margin-left:72%;margin-top:0%;width:19%;text-align:justify;">Application Maintenance</p>
                <p style="margin-left:72%;margin-top:0%;width:19%;text-align:justify;">Software Validation</p>
                <p style="margin-left:72%;margin-top:0%;width:19%;text-align:justify;">Oracle Application</p>
                <p style="margin-left:72%;margin-top:0%;width:19%;text-align:justify;">Microsoft Dynamics</p>
                <p style="margin-left:72%;margin-top:0%;width:19%;text-align:justify;">---GP</p>
                <p style="margin-left:72%;margin-top:0%;width:19%;text-align:justify;">---CRM</p>
                 <p style="margin-left:72%;margin-top:0%;width:19%;text-align:justify;">---Axapta</p>
                 <p style="margin-left:72%;margin-top:0%;width:19%;text-align:justify;">---Navision</p>
                 <p style="margin-left:72%;margin-top:0%;width:19%;text-align:justify;">Data Warehouse</p>
                 <p style="margin-left:72%;margin-top:0%;width:19%;text-align:justify;">EI & EDI Services</p>
                 <p style="margin-left:72%;margin-top:0%;width:19%;text-align:justify;">Consulting Services</p>
                 <p style="margin-left:72%;margin-top:0%;width:19%;text-align:justify;">Healthcare BPO</p>
            </div>
            <h5 class="h5">Technology Partners:</h5>
            <br>
                 <p class="tp">
                             Our technology partners including software vendors with whom we work to enhance our application and make our solutions
                             more competitive and feature rich.
                 </p>
                 <p>
                    <img style="margin-left: 16%;margin-top: -16%;" src="/assets/images/logo_mcsp.gif">
                </p>
                <p>
                    <img style="margin-left: 38%;margin-top: -19%;" src="/assets/images/p_logo5.jpg">
                </p>
                <h6 class="h6">Why Inteq:</h6>
                <p class="p3">
                    At Inteq we believe in the principle-'Innovation through people'. 
                    The core strength of Inteq is to provide high quality, cost effective information technology solutions.
                    </p>
                    <div class="inteq">
            <p style="margin-left: 0%;">✓ We deploy Efficient and Accelerated Software Implementation Methodologies.</p>
            <p style="margin-left: 0%;">✓ We are an ISO 9001 company and exercise strong Quality Control.</p>
            <p style="margin-left: 0%;">✓ We have a Tradition of innovation - 'innovation through people'.</p>
            <p style="margin-left: 0%;">✓ Continuous effort to hone remote development methodology in order to sustain the offshore development model.</p>
            <p style="margin-left: 0%;">✓ We have state-of-the-art development facility.</p>
            <p style="margin-left: 0%;">✓ We have entire bandwidth of technology solutions.</p>
            <p style="margin-left: 0%;">✓ Domain expertise spanning various industry verticals.</p>
        </div>
        <h3 class="h7">Vision & Mission:</h3>
        <br>
        <h4 class="vision">Vision:</h4>
 <p class="visionm">
"To be the recognized leader in providing reliable business solutions world-wide through computing and creative excellence"
</p>
<br>
     <h4 class="mission">Mission:</h4>
<p class="missionm">
"Enable our clients to be competitive through deployment of efficient solutions and delivery of value added services , driven by 'Innovation Through People' "
    </p>

     <h3 class="contact">Contact Us:</h3>
        <br>
<h4 class="registered">Registered Office and Delivery Centre:</h4>
<p class="dc">We pride ourselves in providing you the best of our services. 
    Your comments and suggestions are important to us as we continue to improve our services.We pride ourselves in providing you the best of our services.
    </p>
<br>
<p class="info">
Please feel free to correspond to us through the following contact information:
     </p>
<br>
<p class="address">
    1st Floor,<br />
    Sapthagiri Towers,1-10-75/1/1-6, <br />
    Begumpet, Hyderabad-500016, <br />
    Telangana, India.<br />
    Telefax: 91-40-27765332<br />
    Website:  <a type="button" class="btn btn-link">www.inteqsolutions.com</a>
  </form>