<form class="row g-3">
    <!-- <div>
        <label class="lbllogin">Login as </label>
    </div> -->
    <app-sprtheader></app-sprtheader>
    <img class="img" src="/assets/images/Inteq logo.png">
    <div>
        <button class="btn btn-dark btnback" routerLink="/registration">Back</button>
    </div>
    <h1 class="h1">Welcome to INTEQ Various Committees details</h1>
    <h4 class="h4">Various Committees Reference Docs</h4>
    <div *ngIf="isLoading" class="loading-container">
        <span class="dot"></span>
    </div>
    <div class="tablebottom1">
        <table class="table table-striped table-bordered" name="varcmts">
            <thead class="table-primary">
                <tr>
                    <th scope="col" style="width:70%">Document Name</th>
                    <th scope="col" style="width:30%">URL</th>
                </tr>
            </thead>
            <!-- <tbody>
                <tr *ngFor="let item of varcmtlist">
                    <td>{{ item.documentName }}</td>
                    <td>
                        <a href="javascript:void(0)" (click)="openDocument(item.id)">Click Here</a>
                    </td>
                </tr>
            </tbody> -->


            <tbody>
                <tr *ngFor="let item of varcmtlist">
                    <td>{{ item.documentName }}</td>
                    <td>
                        <a href="javascript:void(0)" (click)="openDocument(item.id)">Click Here</a>
                    </td>
                </tr>
            </tbody>

            <!-- PDF Popup Component -->
            <app-document-viewer [pdfUrl]="pdfUrl" (closePopup)="closePdf()">
            </app-document-viewer>




        </table>
    </div>
</form>