<div class="p-3 mb-2 bg-light">
    <div><img src="/src/assets/images/Inteq _logo.png"></div>
    <h1 class="h1" >INTEQ EMPLOYEE LEARNING CENTER</h1>
</div>
<form>
<div>
    <label class="lbllogin">Login as </label>
</div>
<div>
    <label class="lblsessions" >New / Upcomimg Sessions</label>
</div>
<div>
    <h2 class="h2">ISO 9001-2015 Internal Auditor</h2>
</div>
<div>
    <div class="mb-3 ">
        <label class="lblskill">Skill Name</label>
        <select name="skill" class="form-controlone" required>
            <option value="" disabled selected>- select skill -</option>
            <option>azure</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="lblmode">Mode of Training</label>
        <select name="mode" class="form-controlone" required>
            <option value="" disabled selected>- select mode -</option>
            <option>..</option>
        </select>
      </div>
      <div class="col-md-3">
        <label class="lbldate">Date</label>
        <select name="skill" class="form-controldate" required>
            <option value="" disabled selected>- select Date -</option>
            <option>azure</option>
        </select>
        <label class="lbltime">Time</label>
        <select name="mode" class="form-controltime" required>
            <option value="" disabled selected>- select Time -</option>
            <option>..</option>
        </select>
      </div>
      <div class="col-md-3">
        <label class="lblfname">First Name</label>
        <input type="search" class="form-controlfname">
        <label class="lbllname">Last Name</label>
        <input type="search" class="form-controllname">
      </div>
      <div class="mb-3 ">
        <label class="lblemail">Email</label>
        <input type="search" class="form-controlemail">
      </div>
      <div class="mb-3 ">
        <label class="lblmbl">Mobile No.</label>
        <input type="search" class="form-controlmbl">
      </div>
      <div class="mb-3 ">
        <label class="lblbatch">Batch Members</label>
      </div>
      </div>
<div class="tablebottom">
    <table class="table table-striped table-bordered">
        <thead class="table-primary">
            <tr>
              <th scope="col">Skill Name</th>
              <th scope="col">Test Result</th>
              <th scope="col">percentage(%)</th>
              <th scope="col">Test Taken Date</th>
              <th scope="col">Feedback</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <th scope="row">Mark</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">Mark</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">Mark</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">Mark</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">Mark</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
          </tbody>
    </table>
</div>
</form>
