<form class="row g-3">
    <div>
        <label class="lbllogin">Login as </label>
    </div>
    <img class="img" src="\assets\images\Inteq logo.png">
    <div>
        <button class="btn btn-dark btnback" routerLink="/skillqa">Back</button>
    </div>
    <div *ngIf="isLoading" class="loading-container">
        <span class="dot"></span>
    </div>
    <!-- <div class="row g-3">
                     <div>
                        <label  class="form-label exam">Skill Name</label>
                    </div>
                    <div>
                        <input type="text" class="form-controlexam" id="Empname">
                         <button class="btn btn-info btnexam">Add</button>
                    </div>
               <div>
                        <label class="exambtm" *ngFor="let item of examlist" >(Current Exam Time is: {{item.examTime}})</label>
                </div>
               <div>
                        <label  class="batch ">Batch Limit Members</label>
               </div>
                    <div>
                        <input type="text" class="form-controlbatch" id="Empname">
                         <button class="btn btn-info btnbatch">Add</button>
                    </div>
                    <div>
                        <label class="batchbtm"  *ngFor="let item of examlist" >(Current Batch Limit is: {{item.batchLimitMembers}})</label>
                    </div>
                    <div>
                        <label  class="question">Display Exam Questions</label>
               </div>
                    <div>
                        <input type="text" class="form-controlquestion" id="Empname">
                         <button class="btn btn-info btnquestion">Add</button>
                    </div>
                    <div>
                        <label class="batchquestion"  *ngFor="let item of examlist" >(Current Displayed Questions Limit is: {{item.displayExamQuestions}})</label>
                    </div>
                    <div>
                        <label  class="stquestion">Standard Exam Questions</label>
               </div>
                    <div>
                        <input type="text" class="form-controlstquestion" id="Empname">
                         <button class="btn btn-info btnstquestion">Add</button>
                    </div>
                    <div>
                        <label class="batchstquestion"  *ngFor="let item of examlist" >(Current Standard Questions Limit is: {{item.standardExamQuestions}})</label>
                    </div>
                    <div>
                        <label  class="ep">Exam Percentage</label>
               </div>
                    <div>
                        <input type="text" class="form-controlep" id="Empname">
                         <button class="btn btn-info btnep">Add</button>
                    </div>
                    <div>
                        <label class="batchep"  *ngFor="let item of examlist">(Current Exam Percentage is: {{item.examPercentage}}%)</label>
                    </div>
    </div> -->
    <h1 class="h1">Exam Info</h1>
    <div class="tablebottom">
        <table *ngIf="!isLoading"  class="table table-striped table-bordered" name="examinfo"  >
            <thead class="table-primary">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Exam Time</th>
                    <th scope="col">Batch Limit Members</th>
                    <th scope="col">Display Exam Questions</th>
                    <th scope="col">Standard Exam Questions</th>
                    <th scope="col">Exam Percentage(%)</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of examlist" >
                    <td>{{row.id}}</td>
                    <td>{{row.examTime}}</td>
                    <td>{{row.batchLimitMembers}}</td>
                    <td>{{row.displayExamQuestions}}</td>
                    <td>{{row.standardExamQuestions}}</td>
                    <td>{{row.examPercentage}}</td>
                    <td>
                        <button class="btn btn-info me-1" data-bs-toggle="modal" data-bs-target="#exampleModaledit1" (click)="EditExamlist(row.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd"
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                            </svg>
                        </button>
                        <div class="modal fade" id="exampleModaledit1" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title headermodal" id="exampleModalLabel">Update Record</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close" ></button>
                                </div>
                                <div class="modal-body">
                                   <div class="divmodal">
                                    <label>Exam Time</label>
                                    <input type="text" class="form-control" name="examtime" [(ngModel)]="examdata.examTime">
                                   </div>
                                   <div class="divmodal">
                                    <label>BatchLimit Members</label>
                                    <input type="text" class="form-control" name="batchlimit" [(ngModel)]="examdata.batchLimitMembers">
                                   </div>
                                   <div class="divmodal">
                                    <label>Display Exam Questions</label>
                                    <input type="text" class="form-control" name="displayqstns" [(ngModel)]="examdata.displayExamQuestions">
                                   </div>
                                   <div class="divmodal">
                                    <label>Standard Exam Questions</label>
                                    <input type="text" class="form-control" name="standardqstns" [(ngModel)]="examdata.standardExamQuestions">
                                   </div>
                                   <div class="divmodal">
                                    <label>Exam Percentage</label>
                                    <input type="text" class="form-control" name="examperc" [(ngModel)]="examdata.examPercentage">
                                   </div>
                                   <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal" >Close</button>
                                    <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="UpdateExamlist()">Update</button>
                                   </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </td>    
                </tr>
            </tbody>
        </table>
    </div>
</form>
