<form class="row g-3">
    <div>
        <label class="lbllogin">Login as </label>
    </div>
    <img class="img" src="\assets\images\Inteq logo.png">
    <div>
        <button class="btn btn-dark btnback" routerLink="/skillqa">Back</button>
    </div>
    <div class="row g-3">
                     <div>
                        <label  class="form-label exam">Skill Name</label>
                    </div>
                    <div>
                        <input type="text" class="form-controlexam" id="Empname">
                         <button class="btn btn-info btnexam">Add</button>
                    </div>
               <div>
                        <label class="exambtm" >(Current Exam Time is: 20)</label>
                </div>
               <div>
                        <label  class="batch ">Batch Limit Members</label>
               </div>
                    <div>
                        <input type="text" class="form-controlbatch" id="Empname">
                         <button class="btn btn-info btnbatch">Add</button>
                    </div>
                    <div>
                        <label class="batchbtm" >(Current Batch Limit is: 150)</label>
                    </div>
                    <div>
                        <label  class="question">Display Exam Questions</label>
               </div>
                    <div>
                        <input type="text" class="form-controlquestion" id="Empname">
                         <button class="btn btn-info btnquestion">Add</button>
                    </div>
                    <div>
                        <label class="batchquestion" >(Current Batch Limit is: 10)</label>
                    </div>
                    <div>
                        <label  class="stquestion">Standard Exam Questions</label>
               </div>
                    <div>
                        <input type="text" class="form-controlstquestion" id="Empname">
                         <button class="btn btn-info btnstquestion">Add</button>
                    </div>
                    <div>
                        <label class="batchstquestion" >(Current Standard Questions Limit is: 5)</label>
                    </div>
                    <div>
                        <label  class="ep">Exam Percentage</label>
               </div>
                    <div>
                        <input type="text" class="form-controlep" id="Empname">
                         <button class="btn btn-info btnep">Add</button>
                    </div>
                    <div>
                        <label class="batchep" >(Current Exam Time is: 70%)</label>
                    </div>
    </div>
</form>
