.lbllogin{
    margin-top: 1.5%;
    margin-left: 75%;
    position: absolute;
}
.form-label{
    margin-top: 3%;
    margin-left: 28%;
    position: absolute;
}
.form-controlsearchname {
    display: block;
    width: 23%;
    margin-left: 33.3%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 0.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    border-radius: 5px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-top: 2.5%;
    position: absolute;
    outline-offset: 0.5px;
}
.btninsert{
    margin-left: 58%;
    margin-top: 2.3%;
    width: 95px;
    position: absolute;
}
.btndlt{
    margin-left: 65%;
    margin-top: 2.3%;
    width: 95px;
    position: absolute;
}
.div{
    margin-top: -2%;
    margin-left: 17.5%;
    width: 500px;
}
.form-check-input {
    --bs-form-check-bg: var(--bs-body-bg);
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    margin-top: 8.2%;
    margin-left: 10.5%;
    vertical-align: top;
    appearance: none;
    background-color: var(--bs-form-check-bg);
    background-image: var(--bs-form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    height: 16px;
    width: 16px;
    border-color: black;
    position: absolute;
}
.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.lbl{
    display: inline-block;
    margin-left: 12%;
    color: black;
    margin-top: 8.2%;
    position: absolute;
}
.tablebottom {
    margin-top: 11%;
    position: absolute;
}
.pagination {
    margin-left: 72%;
}
.drp {
    border-radius: 4px;
    background-color: aliceblue;
}
.divmodal{
    margin-top: 1%;
    font-size: 15px;
}
.headermodal{
    font-size: 15px;
    font-weight: bold;
}