<app-leftmenu (sidebarToggled)="onSidebarToggled($event)"></app-leftmenu>
 <div class="content-wrapper" [class.sidebar-collapsed]="isSidebarClosed">
<form class="row g-3" #addskillsform="ngForm" novalidate >
 
 <!-- Wrapper to center horizontally and keep content at the top -->
<div class="d-flex justify-content-center bg-light pt-5">
  <div class="container">
    <div  class="container p-4 rounded shadow-sm bg-light border border-secondary">
    <!-- Form Row -->
      <div class="row justify-content-center align-items-center gx-2 gy-2 mb-3">
        <!-- Label -->
        <div class="col-auto">
          <label for="Empname" class="form-label mb-0">Skill Name</label>
        </div>

        <!-- Input -->
        <div class="col-md-6 col-sm-8">
          <input type="text" class="form-control text-center" id="Empname" name="skillName"
                 [(ngModel)]="skillData.skillName" required #skillNameRef="ngModel">
        </div>

        <!-- Buttons -->
        <div class="col-auto buttonsInsert">
            <br>
          <!-- <button type="button" class="btn btn-info me-2"
                  [disabled]="!skillNameRef.valid" (click)="AddSkill()">Insert</button>
          <button type="button" class="btn btn-danger"
                  [disabled]="!skillNameRef.valid" (click)="DeleteSkill()">Delete</button> -->
                   <button type="button" class="buttonprnt"  [disabled]="!skillNameRef.valid" (click)="AddSkill()">Insert</button>&nbsp;
                   <button type="button" class="buttonprnt" [disabled]="!skillNameRef.valid" (click)="DeleteSkill()">Delete</button> 
        </div>
      </div>

      <!-- Checkbox Row -->
      <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8">
          <div class="form-check text-start">
            <input class="form-check-input" type="checkbox" [(ngModel)]="includeStQuestions"
                   name="includeStQuestions" id="includeStQuestions">
            <label class="form-check-label" for="includeStQuestions">
              Include _stQuestions column
            </label>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
    <div *ngIf="isLoading" class="loading-container">
        <span class="dot"></span>
    </div>
    <div class="tablebottom">
        <table  class="table table-striped table-bordered">
            <thead class="table-primary">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                    <th scope="col">Venue</th>
                    <th style="width: 200px;">Description</th>
                    <th scope="col">Skill Name</th>
                    <th scope="col">Conducted By</th>
                    <th scope="col">Users </th>
                    <th scope="col">Groups </th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="!isLoading" >
                <tr *ngFor="let row of Enrolledusers | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
                     <td>{{row.sessionID}}</td>
                    <td>{{row.fromDate}}</td>
                    <td>{{row.toDate}}</td>
                    <td>{{row.skillStartTime}}</td>
                    <td>{{row.skillEndTime}}</td>
                    <td>{{row.venue}}</td>
                    <td style="max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        {{ row.skillDescription }}
                    </td>
                    <td style="max-width: 200px;  text-overflow: ellipsis;">
                        {{row.skillName}}
                    </td>
                    <td style="max-width: 150px;  text-overflow: ellipsis;">
                        {{row.conductedBy}}
                    </td>
                    <td style="max-width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        {{row.aadUsersData}}
                    </td>
                    <td style="max-width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        {{row.aadGroupsData}}
                    </td>
                    <td>
                        <button type="button" class="btn btn-info me-1" style="margin: 2px" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-plus-square" viewBox="0 0 16 16">
                                <path
                                    d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
                                <path
                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                            </svg>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title headermodal" id="exampleModalLabel">Add Record</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close" (click)="resetSkillSession(); GetAllSkillSessions()" ></button>
                                    </div>
                                    <div class="modal-body">
                                       <div class="divmodal">
                                        <label>Start Date<span style="color: red;">*</span></label>
                                        <input type="date" class="form-control" [(ngModel)]="skillSessionData.fromDate" name="fromDate"  [min]="today" required #skillNameRef="ngModel"  >
                                       </div>
                                       <div class="divmodal">
                                        <label>End Date<span style="color: red;">*</span></label>
                                        <input type="date" class="form-control" [(ngModel)]="skillSessionData.toDate" name="toDate"    [min]="skillSessionData.fromDate || today" required #skillNameRef="ngModel"  >
                                       </div>
                                       <div class="divmodal">
                                        <label>Start Time<span style="color: red;">*</span></label>
                                        <input type="time" class="form-control" [(ngModel)]="skillSessionData.skillStartTime" name="skillStartTime" required #skillNameRef="ngModel"  >
                                       </div>
                                       <div class="divmodal">
                                        <label>End Time<span style="color: red;">*</span></label>
                                        <input type="time" class="form-control" [(ngModel)]="skillSessionData.skillEndTime" name="skillEndTime" required #skillNameRef="ngModel"  >
                                       </div>
                                       <div class="divmodal">
                                        <label>Venue<span style="color: red;">*</span></label>
                                        <select id="select1"   class="form-control" name="modetype" [(ngModel)]="skillSessionData.venue" name="venue" required #skillNameRef="ngModel" >
                                            <option value=""  >- Select Mode -</option>
                                            <option >Offline</option>
                                            <option >Self-Learning</option>
                                            <option >Teams</option>
                                       </select>
                                       </div>
                                       <div class="divmodal">
                                        <label>Description<span style="color: red;">*</span></label>
                                        <textarea  class="form-control" [(ngModel)]="skillSessionData.skillDescription" name="skillDescription" required #skillNameRef="ngModel" ></textarea>
                                       </div>
                                       <div class="divmodal">
                                        <label>Skill Name<span style="color: red;">*</span></label>
                                        <select  id="select2"  class="form-control" name="skillname" [(ngModel)]="skillSessionData.skillName" name="skillName" required #skillNameRef="ngModel" >
                                            <option value="">- select skill -</option>
                                            <option *ngFor="let item of Enrolledskills" [value]="item.skillName">{{ item.skillName }}</option>
                                        </select>
                                       </div>
                                       <div class="divmodal">
                                        <label>Conducted By</label>
                                        <input type="text" class="form-control" [(ngModel)]="skillSessionData.conductedBy" name="conductedBy" >
                                       </div>
                                       <div class="divmodal">
                                        <label>Users</label>
                                        <select id="select3" class="form-control" name="users"  name="mail" multiple size="10" (change)="updateSelectedUsers($event)" >
                                                <option value="">- select user -</option>
                                                <option *ngFor="let row of aadUsersData" >{{ row.mail }}</option>
                                        </select>
                                       </div>
                                       <div class="divmodal">
                                        <label>Groups</label>
                                        <select id="select4" name="groups" class="form-control" name="groups"  name="groupName" multiple size="10" (change)="updateSelectedGroups($event)">
                                            <option value="">- select group -</option>
                                            <option *ngFor="let item of aadGroupsData" >{{ item.groupName }}</option>
                                        </select>
                                       </div>

                                    </div>
                                    
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal" (click)="resetSkillSession(); GetAllSkillSessions()" >Close</button>
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="AddSkillsession()" [disabled]="addskillsform.invalid" >Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-info me-1"  style="margin: 2px" data-bs-toggle="modal" data-bs-target="#exampleModaledit" (click)="EditSkillSession(row.sessionID)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd"
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                            </svg>
                        </button>
                         <!-- Modal -->
                        <div class="modal fade" id="exampleModaledit" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title headermodal" id="exampleModalLabel">Edit Record</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close" (click)="resetSkillSession(); GetAllSkillSessions()" ></button>
                                    </div>
                                    <div class="modal-body">
                                       <div class="divmodal">
                                        <label>Start Date<span style="color: red;">*</span></label>
                                        <input type="date" class="form-control" [(ngModel)]="skillSessionData.fromDate" name="fromDate" [min]="today" required #skillNameRef="ngModel">
                                       </div>
                                       <div class="divmodal">
                                        <label>End Date<span style="color: red;">*</span></label>
                                        <input type="date" class="form-control" [(ngModel)]="skillSessionData.toDate" name="toDate"  [min]="skillSessionData.fromDate || today" required #skillNameRef="ngModel" >
                                       </div>
                                       <div class="divmodal">
                                        <label>Start Time<span style="color: red;">*</span></label>
                                        <input type="time" class="form-control" [(ngModel)]="skillSessionData.skillStartTime" name="skillStartTime" required #skillNameRef="ngModel" >
                                       </div>
                                       <div class="divmodal">
                                        <label>End Time<span style="color: red;">*</span></label>
                                        <input type="time" class="form-control" [(ngModel)]="skillSessionData.skillEndTime" name="skillEndTime" required #skillNameRef="ngModel">
                                       </div>
                                       <div class="divmodal">
                                        <label>Venue<span style="color: red;">*</span></label>
                                        <select id="select1"   class="form-control" name="modetype" [(ngModel)]="skillSessionData.venue" name="venue" required #skillNameRef="ngModel">
                                            <option value=""  >- Select Mode -</option>
                                            <option >Offline</option>
                                            <option >Self-Learning</option>
                                            <option >Teams</option>
                                       </select>
                                       </div>
                                       <div class="divmodal">
                                        <label>Description<span style="color: red;">*</span></label>
                                        <textarea  class="form-control" [(ngModel)]="skillSessionData.skillDescription" name="skillDescription" required #skillNameRef="ngModel"></textarea>
                                       </div>
                                       <div class="divmodal">
                                        <label>Skill Name<span style="color: red;">*</span></label>
                                        <select  id="select2"  class="form-control" name="skillname" [(ngModel)]="skillSessionData.skillName" name="skillName" required #skillNameRef="ngModel">
                                           
                                            <option value="">- select skill -</option>
                                            <option *ngFor="let item of Enrolledskills" [value]="item.skillName">{{ item.skillName }}</option>
                                        </select>
                                       </div>
                                       <div class="divmodal">
                                        <label>Conducted By</label>
                                        <input type="text" class="form-control" [(ngModel)]="skillSessionData.conductedBy" name="conductedBy" >
                                       </div>
                                       <div class="divmodal">
                                        <label>Users</label>
                                        <select id="select3" class="form-control" name="users"  name="mail" multiple size="10" (change)="updateSelectedUsers($event)" >
                                                <option value="">- select user -</option>
                                                <option *ngFor="let row of aadUsersData" >{{ row.mail }}</option>
                                        </select>
                                       </div>
                                       <div class="divmodal">
                                        <label>Groups</label>
                                        <select id="select4" name="groups" class="form-control" name="groups"  name="groupName" multiple size="10" (change)="updateSelectedGroups($event)">
                                            <option value="">- select group -</option>
                                            <option *ngFor="let item of aadGroupsData" >{{ item.groupName }}</option>
                                        </select>
                                       </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal" (click)="resetSkillSession(); GetAllSkillSessions()" >Close</button>
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"  (click)="UpdateSkillSession()" [disabled]="addskillsform.invalid" >Update</button>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        
                        <button class="btn btn-info me-1"  style="margin: 2px" (click)="deleteItem(row.sessionID)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path
                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                            </svg>
                        </button>
                    </td>
                </tr>
               
            </tbody>
        </table>
        <div class="pagination" >
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</form>
</div>

  

