
.center-form-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 60px; /* Adjust as needed */
}

.container-fluid {
  max-width: 700px; /* Prevents the form from stretching too far */
  width: 100%;
}


.form-control {
  font-size: 14px;
  border-radius: 4px;
}

.btn {
  padding: 5px 15px;
  font-size: 14px;
  font-weight: 500;
}

.form-check-label {
  font-size: 14px;
  color: #000;
}

.text-danger {
  font-size: 0.95rem;
}
.form-check {
   padding-left: 2.5em;
    width: 166%;
}