.container{
  max-width: 600px;
  max-width: 600px;
  margin-top: 3%;
}
 /* LeftMenuBar adjustment */
.content-wrapper {
  margin-left: 60px;
  transition: margin-left 0.3s ease;
  padding: 20px;
}

.content-wrapper.sidebar-collapsed {
  margin-left: -108px;
}

.sidebar {
  width: 250px;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 60px;
}
.tablebottom{
    width: 90%;
    margin-left: 10%;
}
.buttonprnt {
    cursor: pointer;
    border-color: black;
    color: black;
    background-color: rgb(159, 196, 238);
    width: 121px;
    border-radius: 5px;
    height: 35px;
}
.buttonsInsert{
  margin-left:10%;
}