<app-leftmenu (sidebarToggled)="onSidebarToggled($event)"></app-leftmenu>
 <div class="content-wrapper top" [class.sidebar-collapsed]="isSidebarClosed">
<div class="profile-wrapper">
  <div class="profile-card">
    
    <!-- Header -->
    <div class="profile-header">
      <img src="assets/images/userlogo.png" alt="User Avatar" />
    </div>

    <!-- Body -->
    <div class="profile-body">
      <h2>User Profile</h2>

      <div class="profile-field">
        <span class="label">Full Name</span>
        <span class="value">{{ userName }}</span>
      </div>

      <div class="profile-field">
        <span class="label">Email Address</span>
        <span class="value">{{ userEmail }}</span>
      </div>
    </div>

  </div>
</div>
