<div class="p-3 mb-2 bg-light">
    <h1 class="h1" >INTEQ ATTENDANCE MANAGEMENT SYSTEM</h1>
</div>
<!-- <div class="p-3 mb-2">
    <h2 class="h2" >Dashboard</h2>
</div> -->
<form>
    <!-- <div class="container-top">
      <button class="button1">Admin User</button>
      <button class="button2">PM Admin User</button>
      <button class="button3">Admin Reports</button> -->
      <!-- <button class="button">Monthly Emp Reports</button>
      <button class="button">Project wise Reports</button>
      <button class="button">Configuration</button> -->
    <!-- </div> -->
   
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid text-start">
            <h4 class="h4">Dashboard</h4>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="list-group">
          <!-- <h5 class="text-white h4">Collapsed content</h5> -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item li">
                <a class="list-group-item list-group-item-action list-group-item-dark" aria-current="page" href="#">Attendance Form</a>
              </li> -->
            <li class="nav-item li">
              <a class="list-group-item list-group-item-action list-group-item-dark" aria-current="page" routerLink="/adminuser">Admin User</a>
            </li>
            <li class="nav-item li">
              <a class="list-group-item list-group-item-action list-group-item-dark" routerLink="/pmadminuser">PM Admin User</a>
            </li>
            <li class="nav-item li">
                <a class="list-group-item list-group-item-action list-group-item-dark" routerLink="/adminreports">Admin Reports</a>
              </li>
              <li class="nav-item li">
                <a class="list-group-item list-group-item-action list-group-item-dark" routerLink="/monthlyempreport">Monthly Emp Reports</a>
              </li>
              <li class="nav-item li">
                <a class="list-group-item list-group-item-action list-group-item-dark" routerLink="/projectreports">Project wise Reports</a>
              </li>
              <li class="nav-item li">
                <a class="list-group-item list-group-item-action list-group-item-dark" routerLink="/configuration">Configuration</a>
              </li>
          </ul>
        </div>
      </div>
</form>
