<?xml version="1.0" encoding="utf-8"?>
        <configuration>
            <system.webServer>
                <rewrite>
                    <rules>
                        <rule name="Angular Routes" stopProcessing="true">
                            <match url=".*" />
                            <conditions>
                                <add input="{REQUEST_FILENAME}" pattern="^/inteqlogo\.jpg$" negateMatch="true" />
                                <add input="{REQUEST_FILENAME}" pattern="^/assets/.*" negateMatch="true" />
                                <add input="{REQUEST_FILENAME}" pattern="^/.*\.js$" negateMatch="true" />
                                <add input="{REQUEST_FILENAME}" pattern="^/.*\.css$" negateMatch="true" />
                                <add input="{REQUEST_FILENAME}" pattern="^/.*\.png$" negateMatch="true" />
                                <add input="{REQUEST_FILENAME}" pattern="^/.*\.jpg$" negateMatch="true" />
                                <add input="{REQUEST_FILENAME}" pattern="^/.*\.ico$" negateMatch="true" />
                                <add input="{REQUEST_FILENAME}" pattern="^/.*\.map$" negateMatch="true" />
                                <add input="{REQUEST_FILENAME}" pattern="^/.*\.html$" negateMatch="true" />
                            </conditions>
                            <action type="Rewrite" url="/index.html" />
                        </rule>
                    </rules>
                </rewrite>
            </system.webServer>
        </configuration>
