<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- <rewrite>
      <rules>
     
        <rule name="Ignore Static Files" stopProcessing="true">
          <match url="(.*\.(jpg|jpeg|png|gif|svg|ico|css|js|woff2|ttf|eot|otf|mp4|webp))$" />
          <action type="None" />
        </rule>

      
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite> -->
    <!-- <rewrite>
     <rules>
     <clear />
     </rules>
    </rewrite> -->
<!-- <rewrite>
  <rules>
    
    <rule name="Ignore Static Files" stopProcessing="true">
      <match url=".*\.(jpg|jpeg|png|gif|svg|ico|css|js|woff2|ttf|eot|otf|mp4|webp)$" ignoreCase="true" />
      <action type="None" />
    </rule>

   
    <rule name="Angular Routes" stopProcessing="true">
      <match url="^(?!.*\.(jpg|jpeg|png|gif|svg|ico|css|js|woff2|ttf|eot|otf|mp4|webp)$).*" />
      <conditions logicalGrouping="MatchAll">
        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
      </conditions>
      <action type="Rewrite" url="index.html" />
    </rule>
  </rules>
</rewrite> -->


    <staticContent>
       <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
      <mimeMap fileExtension=".gif" mimeType="image/gif" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".ico" mimeType="image/x-icon" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
  </system.webServer>
</configuration>
