.img{
    height: 100px;
    width: 200px;
}
.btnback{
    margin-left: 92%;
    margin-top: -7%;
}
.lbllogin{
    margin-top: 1.5%;
    margin-left: 75%;
    position: absolute;
}
h1 {
    /* font-family: Times New Roman; */
    display: block;
    font-size: 2em;
    font-weight: bold;
    unicode-bidi: isolate;
    text-align: center;
    color: rgb(0, 3, 12);
    margin-top: -3%;
}
.h2 {
    /* font-family: Times New Roman; */
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    unicode-bidi: isolate;
    text-align: left;
    color: rgb(0, 3, 12);
    margin-left: 25%;
    width: 30%;
}
.h3{
    margin-top: 0%;
    margin-right: 14%;
}
.btnlnk{
    margin-top: -5.8%;
    margin-left: 10%;
}
.tablebottom {
    margin-top: 0%;
    border-collapse: collapse;
    width: 50%;
    margin-left: 25%;
    
}
.tablebottom1 {
    margin-top: 0%;
    border-collapse: collapse;
    width: 40%;
    margin-left: 30%;
    
}
.pagination {
    margin-left: 72%;
}
.divmodal{
    margin-top: 1%;
    font-size: 15px;
}
.headermodal{
    font-size: 15px;
    font-weight: bold;
}
.divtext{
   text-align: center;
}
.h4{
        /* font-family: Times New Roman; */
        display: block;
        font-size: 1.3em;
        font-weight: bold;
        unicode-bidi: isolate;
        text-align: center;
        color: rgb(0, 3, 12);

}

.loading-container {
    position: fixed; /* Ensures it stays in place */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers it exactly */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: adds a light overlay */
    z-index: 9999; /* Ensures it's above other elements */
  }
  
  .dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #3498db;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
    margin: 0 5px;
  }
  
  .dot:nth-child(2) { animation-delay: 0.2s; }
  .dot:nth-child(3) { animation-delay: 0.4s; }
  
  @keyframes pulse {
    0%, 100% { transform: scale(1); opacity: 0.5; }
    50% { transform: scale(1.5); opacity: 1; }
  }