.container {
    border-style: solid;
    border-color: inherit;
    border-width: 1px;
    margin-top: 2%;
    width: 1254px;
    border-radius: 5px;
    height: 300px;
} 
.lbl1{
    display: inline-block;
    margin-left: 8%;
    font-weight: bold;
    color: black;
    margin-top: 1.4%;
    position: absolute;
    font-size: x-large;
}
.lbl2{
    display: inline-block;
    margin-left: 8%;
    font-weight: bold;
    color: black;
    margin-top: 5.4%;
    position: absolute;
    font-size: x-large;
}
.lbl3{
    display: inline-block;
    margin-left: 8%;
    font-weight: bold;
    color: black;
    margin-top: 9.4%;
    position: absolute;
    font-size: x-large;
}
