<app-leftmenu (sidebarToggled)="onSidebarToggled($event)"></app-leftmenu>
 <div class="content-wrapper" [class.sidebar-collapsed]="isSidebarClosed">
  <div class="main-container">
<app-attendanceheader></app-attendanceheader>
<form class="row g-3">
   <div class="container my-4">
  <div class="row">
    <div class="col-md-6">
      <label  class="lbl1">Maximum edits are allowed by Admins for each Emp</label>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-6">
      <label class="lbl2">Add Admin Users</label>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-6">
      <label class="lbl3">Add PM Admin Users</label>
    </div>
  </div>
</div>

    
    <div class="container my-4">
  <h3 class="mb-3">Add Admin Users</h3>
  <div class="row g-3 align-items-end">
    <div class="col-md-3">
      <label for="adminEmpName" class="form-label">Employee Name</label>
      <input type="search" class="form-control" id="adminEmpName" />
    </div>
    <div class="col-md-3">
      <label for="adminEmpId" class="form-label">Emp.ID</label>
      <input type="search" class="form-control" id="adminEmpId" />
    </div>
    <div class="col-md-2">
      <label class="form-label d-block">&nbsp;</label>
      <button class="btn btn-primary w-100">
        <i class="bi bi-search"></i> Search
      </button>
    </div>
    <div class="col-md-2">
      <label class="form-label d-block">&nbsp;</label>
      <button class="btn btn-success w-100">Add</button>
    </div>
  </div>

  <hr class="my-3">

  <h3 class="mb-3">Add PM Admin Users</h3>
  <div class="row g-3 align-items-end">
    <div class="col-md-3">
      <label for="pmEmpName" class="form-label">Employee Name</label>
      <input type="search" class="form-control" id="pmEmpName" />
    </div>
    <div class="col-md-3">
      <label for="pmEmpId" class="form-label">Emp.ID</label>
      <input type="search" class="form-control" id="pmEmpId" />
    </div>
    <div class="col-md-2">
      <label class="form-label d-block">&nbsp;</label>
      <button class="btn btn-primary w-100">
        <i class="bi bi-search"></i> Search
      </button>
    </div>
    <div class="col-md-2">
      <label class="form-label d-block">&nbsp;</label>
      <button class="btn btn-success w-100">Add</button>
    </div>
  </div>
</div>

</form>